
.box-accordion {
  width: 34.6rem;
  margin: 1rem 1rem;

  h3 {
    margin: 0;
  }

  .box-accordion-top {
    min-height: 20rem;
    padding: 2.4rem;
    box-shadow: 0 1px 4px 0 #BBBBBB;
    background-image: url('../farmers/img/box-accordion-plus.svg');
    background-size: 3.2rem;
    background-repeat: no-repeat;
    background-position: 2.4rem 14.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }

    .down-arrow{
      display: none;
      visibility: hidden;
    }

    &[aria-expanded="true"] {
      background-color: #49A564;
      background-image: url('../farmers/img/box-accordion-minus.svg');

      .headline-3 {
        color: $white;
      }
      .down-arrow {
        display: block;
        visibility: visible;
        background: #49A564;
        width: 4rem;
        height: 4rem;
        position: relative;
        top: 5.2rem;
        left: 3rem;
        transform: rotate(45deg);
        z-index: 1;
      }
    }

    &.Accordion-trigger.focus {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 3px;
      outline-offset: 5px;

    }
  }

  .Accordion-panel {
    padding: 3.2rem 2.4rem;
    position: relative;
    background: $white;
    box-shadow: 0px 4px 6px -3px #BBBBBB;
    border-top: .8rem solid #49A564;

    p {
      margin: 0;
    }
  }
}

.card-accordion {
  box-shadow: 0 1px 4px 0 #BBBBBB;
  padding: 3.2rem 3.2rem 2.4rem 3.2rem;
  overflow: hidden;

  .card-accordion-content {
    height: 11.5rem;

    &.show {
      height: auto;
    }
  }
  .card-accordion-toggle {
    position: relative;
    height: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -2.4rem;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,.95), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1));

    .card-accordion-show-more {
      color: $bigsky;
      font-weight: bold;
      padding-right: 2rem;
      background-size: 1.2rem;
      background-repeat: no-repeat;
      background-position: right center;
      background-image: url('../farmers/img/accordion-expand-blue.svg');
      text-decoration: none;
    }
    .card-accordion-show-less {
      background-image: url('../farmers/img/accordion-collapse-blue.svg');
    }
  }
}
