.content-card {
  background: #FFFFFF;
  box-shadow: 0 .1rem .4rem 0 #BBBBBB;
  border-radius: .2rem;
  padding: 2rem;

  .img {
    max-width: 6.397rem;
    margin-bottom: 1.6rem;
    img {
      max-width: 100%;
    }
  }

  .headline {
    border-bottom: .4rem solid $heritage;
    h4 {
      padding-bottom: .6rem;
    }
  }

  .content {
    p {
      margin-top: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &.accent-top {
    border-top: .6rem solid $heritage;
    border-radius: .2rem .2rem 0 0;
    .content {
      p {
        margin-top: .8rem;
      }
    }
    .img {
      max-width: 7.197rem;
      margin-bottom: 1.6rem;
    }

    .headline {
      border-bottom: none;
      h4 {
        padding-bottom: 0;
      }
    }
  }
}

.resource-card {
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 #BBBBBB;
  border-radius: 2px;
  border-top: .6rem solid #006546;
  padding: 3.2rem 2rem;


  .logo {
    max-width: 8rem;
    margin-bottom: 1.6rem;
    img {
      max-width: 100%;
    }
  }

  .link {
    margin-bottom: .8rem;
  }

  .content {
    p {
      margin: 0;
    }
  }
  &:hover {
    box-shadow: 0 4px 16px 0 #BBBBBB;
  }
}
