.content-card {
  background: #FFFFFF;
  box-shadow: 0 .1rem .4rem 0 #BBBBBB;
  border-radius: .2rem;
  padding: 2rem;

  &.accent-top {
    border-top: .6rem solid $heritage;
    border-radius: .2rem .2rem 0 0;
  }
}
