.icon {
  width: 4.4rem;
  height: 4.4rem;
  display: inline-flex;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  &.caret-right {
    background-image: url(../img/caret-right.svg);
  }
  &.search {
    background-image: url(../img/search.svg);  
  }
  &.chevron-up {
    background-image: url(../img/chevron-up.svg);
    transform: rotateX(180deg);  
  }
  &.chevron-down {
    background-image: url(../img/chevron-down.svg);  
  }
  &.close {
    background-image: url(../img/close.svg);  
  }
  &.accordion-expand {
    background-image: url(../img/accordion-expand.svg);  
  }
  &.accordion-collapse {
    background-image: url(../img/accordion-collapse.svg);  
  }
  &.popover {
    background-image: url(../img/popover.svg);  
  }
  &.info {
    background-image: url(../img/info.svg);
  }
  &.mail {
    background-image: url(../img/mail.svg);
  }
  &.print {
    background-image: url(../img/print.svg);
  }
  &.location {
    background-image: url(../img/location.svg);
  }
  &.phone {
    background-image: url(../img/phone.svg);
  }   
}

.outline-icon {
  width: 7.7rem;
  height: 7.7rem;
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  &.farmer {
    background-image: url(../img/farmer.svg);
  }
  &.mfp {
    background-image: url(../img/mfp.svg);
  }
  &.land {
    background-image: url(../img/land.svg);
  }
  &.barn {
    background-image: url(../img/barn.svg);
  }   
}