*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
}

button {
  border-color: transparent;
  border-width: inherit;
}
.usa-overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  // top: 168px;
  background-color: rgba(33, 33, 33, 0.6);
  z-index: 50;
  main {
    pointer-events: none;
  }
}
.focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0.3rem;
  outline-offset: 0.5rem;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.spacer {
  text-indent: -9999px;
  color: #fff0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}
.hide-from-sr {
  display: none !important;
}
