*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
}

button {
  border-color: transparent;
  border-width: inherit;
}

.focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0.3rem;
  outline-offset: 0.5rem;
}

.usa-sr-only {
  position: absolute;
  left: -999em;
}

.spacer {
  text-indent: -9999px;
  color: #fff0;
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
  }
}
