label.checkbox-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1.8rem;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;

  &:before {
    box-shadow: 0 0 0 1px #fff;
    content: '\a0';
    width: 2.4rem;
    height: 2.4rem;
    border: .2rem solid $grey4;
    border-radius: .2rem;
    display: flex;
    margin-right: .8rem;
    font-weight: 400;

    input.checkbox-input:checked + &{
      background-color: $heritage;
      border: .2rem solid $heritage;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: image("correct8.svg");
    }
  }

  input.checkbox-input:disabled + & {
    color: $grey3;

    &:before {
      border: .2rem solid $grey3;
      background: $grey1;
    }
  }

}

input.checkbox-input {
  display: none;
}

label.checkbox-card-label {
  min-height: 15rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: $white;
  border: .2rem solid $grey3;
  box-shadow: 0 .1rem .4rem 0 $grey3;
  border-radius: .2rem;

  &:hover {
    border: .2rem solid $sweetgrass;
    cursor: pointer;
  }
  .cb-card-bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .cb-icon {
    width: 3.2rem;
    height: 3.2rem;
    border: .2rem solid $sweetgrass;
    border-radius: .2rem;
    display: flex;
  }
  &.checked {
    border: .2rem solid $sweetgrass;
  }
  &.disabled {
    cursor: auto;
    border: .2rem solid $grey3;
    .cb-icon {
      background: $grey1;
      border: .2rem solid $grey3;
    }
  }

  &.with-image {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 5.8rem;
      width: 100%;
    }
    .cb-img-card-top {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
    }
    .cb-img-card-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

input.checkbox-card-input {
  display: none;

  &:checked + .cb-icon {
    background-color: $sweetgrass;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: image("correct8.svg");
  }
}
