select {
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #fff;
  background-image: image('arrow-down.svg');
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  border: 1px solid $grey4;
  border-radius: 2px;
  box-sizing: border-box;
  color: $asphalt;
  display: block;
  font-size: 1.7rem;
  height: 52px;
  margin: 0;
  outline: 0;
  padding: 16px;
  width: 100%;
  &:focus,&.focus {
    box-shadow: 0px 0px 4px 0 $focus;
    &:hover {
      background-color: #fff;
    }
  }
  &:hover,&.hover {
    background-color: $softgreen;
  }
  &:disabled, &.disabled {
    background-color: $grey1;
    background-image: image('arrow-down-disabled.svg');
    border: 1px solid $grey3;
    cursor: not-allowed;
    color: $grey3;
  }
}
