@use '../../../../farmers-gov-design-system/scss/elements/colors' as DSColors;
@use '../../../../farmers-gov-design-system/scss/mixins/form-mixins' as DSFormMixins;

label.radio-button-label,
label.cb-label {
  width: fit-content;
  margin-right: 1.25rem;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  span {
    margin-top: 0.1rem;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus-within {
    @include DSFormMixins.form-focus-outline;
  }
  &.disabled {
    color: DSColors.$grey3;
    background-color: unset !important;
    &:hover {
      cursor: auto;
    }
  }
}

@include DSFormMixins.radio-button-input(2.4rem, DSColors.$grey4, DSColors.$heritage);
@include DSFormMixins.cb-input(2.4rem, DSColors.$grey4, DSColors.$heritage);
