label.radio-button-label,
label.cb-label {
  width: fit-content;
  margin-right: 1.25rem;
  margin-bottom: 1.8rem;
  font-size: 1.8rem;
  span {
    margin-top: 0.1rem;
  }
  &:focus-within {
    @include form-focus-outline;
  }
  &.disabled {
    color: $grey3;
    background-color: unset !important;
    &:hover {
      cursor: auto;
    }
  }
}

@include radio-button-input(2.4rem, $grey4, $heritage);
@include cb-input(2.4rem, $grey4, $heritage);
