label.radio-label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  line-height: 1.8rem;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;

  &:before {
    content: "\a0";
    width: 2.4rem;
    height: 2.4rem;
    border: 0.2rem solid $grey4;
    border-radius: 5rem;
    display: inline-flex;
    margin-right: 0.8rem;
    font-weight: 400;

    input.radio-input:checked + & {
      background-color: $heritage;
      border: 0.2rem solid $white;
      box-shadow: 0 0 0 0.2rem $heritage;
    }
  }
  input.radio-input:disabled + & {
    color: $grey3;

    &:before {
      border: 0.2rem solid $grey3;
      background: $grey1;
    }
  }
}

input.radio-input {
  display: none;
}

label.radio-card-label {
  min-height: 15rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: $white;
  border: 0.2rem solid $grey3;
  box-shadow: 0 0.1rem 0.4rem 0 $grey3;
  border-radius: 0.2rem;

  &:hover {
    border: 0.2rem solid $sweetgrass;
    cursor: pointer;
  }
  &:focus {
    outline-color: #3e94cf;
    outline-style: auto;
    outline-width: 0.3rem;
    outline-offset: 0.5rem;
  }

  .radio-card-bottom {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .radio-icon {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.2rem solid $sweetgrass;
    border-radius: 100%;
    display: flex;
  }
  &.checked {
    border: 0.2rem solid $sweetgrass;
  }
  &.disabled {
    cursor: auto;
    border: 0.2rem solid $grey3;
    .radio-icon {
      background: $grey1;
      border: 0.2rem solid $grey3;
    }
  }

  &.with-image {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 5.8rem;
      width: 100%;
    }
    .radio-img-card-top {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 2;
    }
    .radio-img-card-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

input.radio-card-input {
  display: none;

  &:checked + .radio-icon {
    background-color: $sweetgrass;
    border: 0.2rem solid $white;
    box-shadow: 0 0 0 0.2rem $sweetgrass;
  }
}
