@mixin radio-button-input($dimension, $input-border-color, $checked-color) {
  label.checked input:not(:checked) {
    @include checked($checked-color);
  }
  .radio-button-input {
    flex: 0 0 auto;
    width: $dimension;
    height: $dimension;
    margin: 0.2rem 0.75rem 0.3rem 0;
    border: 0.2rem solid $input-border-color;
    background-color: $white;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;

    &:checked,
    .checked {
      @include checked($checked-color);
    }
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &:disabled,
    &.disabled {
      cursor: auto;
      border: 0.2rem solid $grey3;
      background: #f7f7f7;
      &:hover {
        cursor: auto;
      }
    }
  }
}

@mixin cb-input($dimension, $input-border-color, $checked-color) {
  label.checked input:not(:checked) {
    @include checked($checked-color);
  }
  .cb-input {
    border-radius: initial;
    flex: 0 0 auto;
    width: $dimension;
    height: $dimension;
    margin: 0.2rem 0.75rem 0.3rem 0;
    border: 0.2rem solid $input-border-color;
    appearance: none;
    -webkit-appearance: none;

    &:checked,
    .checked {
      @include checked($checked-color);
      background-size: cover;
      background-repeat: no-repeat;
      background-image: image("correct8.svg");
      border: none !important;
    }
    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }
    &:disabled,
    &.disabled {
      cursor: auto;
      border: 0.2rem solid $grey3;
      background: #f7f7f7;
      &:hover {
        cursor: auto;
      }
    }
  }
}

@mixin checked($checked-color) {
  background-color: $checked-color;
  border: 0.2rem solid $white;
  box-shadow: 0 0 0 0.2rem $checked-color;
  appearance: none;
  -webkit-appearance: none;
}

@mixin form-focus-outline() {
  outline-color: #3e94cf;
  outline-style: auto;
  outline-width: 0.3rem;
  outline-offset: 0.5rem;
}
