@mixin cell-border {
  border-color: $grey3;
  border-style: solid;
}

@mixin simple-table-mobile {
  display: block;
  width: 100%;
  @include cell-border;
  border-width: 0 0 4px 0;
  tbody {
    display: block;
    width: 100%;
  }
  tr {
    display: flex;
    flex-direction: column;
    background-color: $white !important;
    th:not(:last-child),
    td:not(:last-child) {
      border-right: $table-cell-border-top;
    }
    th {
      display: none;
    }
    td {
      border-bottom: none !important;
      padding-bottom: 0;
      &:first-of-type,
      &:last-of-type {
        padding-bottom: 2rem;
      }
      &:first-of-type {
        @include cell-border;
        border-bottom: 1px $grey3 solid !important;
        border-width: 4px 1px 1px 1px;
        background: $grey2;
      }
      &:before {
        content: attr(data-th);
        display: block;
        font-weight: 700;
        padding: 1rem 0;
      }
    }
  }
}

@mixin complex-table-mobile {
  display: block;
  td {
    background: $white;
    display: table-cell;
    min-width: 65vw;
  }
}

@mixin mobile-static-column {
  display: block;
  border-collapse: separate;

  @media (max-width: $screen--S) {
    table-layout: fixed;
    -webkit-overflow-scrolling: touch;

    td {
      // display: table-cell;
      min-width: 75vw;
    }
    tr:nth-child(odd) > td {
      background: $white;
    }
    tr:nth-child(even) > td {
      background: $grey1;
    }
    tr > th:first-child,
    tr > td:first-child {
      display: table-cell;
      position: -webkit-sticky;
      position: sticky;
      box-shadow: 8px 2px 10px -2px $grey3;
      top: 0;
      left: 0;
      z-index: 100;
      min-width: 16rem;
      max-width: 16rem;
      word-wrap: break-word;
    }
    tr > th:first-child {
      display: table-cell;
      background: $grey2;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      word-wrap: break-word;
    }
  }
}
