.accordion-grid {
    margin-top: 1rem;
    .accordion-row {
        &.usa-grid {
            max-width: 1140px;
            > :last-child {
                margin-bottom: 20px;
            }
        }
    }
    .accordion-bellows {
        &.active {
            float: left;
            width: 100%;
            top: 15.3rem;
            @media screen and (max-width: 770px) {
                float: none;
                display: block;
            }
            >div {
                border-top: #49A564 solid 3px;
            }
        }
        position: absolute;
        float: left;
        z-index: 1;
        max-width: 1140px;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease-out;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 6px 5px 0 #AEAEAE;
        margin-left: 1.5rem;
        cursor: default;
        @media screen and (min-width: 951px) {
            margin-left: 3rem;
        }
        >div {
            position: relative;
            z-index: 2;
            padding: 10px 20px 5px 20px;
            border-top: #49A564 solid 0;
            transition: border-top 0.3s linear;
            p {
                font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}

.accordion {
    padding: 35px 18px 55px 18px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    transition: color 0.4s linear, background-color 0.4s linear, margin-bottom 0.4s ease-out, border 0.4s linear, border-color 0.4s linear;
    cursor: pointer;
    min-height: 155px;
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 22px solid transparent;
        border-right: 22px solid transparent;
        // border-top: 22px solid #FFFFFF;
        position: absolute;
        left: 50px;
        bottom: 10px;
        z-index: 3;
        transition: bottom 0.4s linear, border-color 0.4s linear;
    }
    .accordion-belt {
        color: $black;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: -0.34px;
        line-height: 25px;
        transition: border 0.4s linear;
        user-select: none;
        &:before {
            position: absolute;
            bottom: 20px;
            content: '';
            z-index: 5;
            width: 30px;
            height: 0;
            border-style: solid;
            border-color: #49A564;
            border-width: 4px;
            border-radius: 2px;
            transform: rotate(90deg);
        }
        &:after {
            position: absolute;
            bottom: 20px;
            content: '';
            z-index: 5;
            width: 30px;
            height: 0;
            border-style: solid;
            border-color: #49A564;
            border-width: 4px;
            border-radius: 2px;
        }
        h3 {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &.active {
        background-color: $lightgreen;
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            border-top: 22px solid $lightgreen;
            position: absolute;
            bottom: -18px;
            z-index: 3;
        }
        .accordion-belt {
            h3 {
                color: #FFFFFF;
            }
            &:before {
                display: none;
            }
            &:after {
                content: '';
                z-index: 5;
                width: 30px;
                height: 0;
                border-style: solid;
                border-color: #FFFFFF;
                border-width: 4px;
                border-radius: 2px;
            }
        }
    }
}

.accordion-block-title {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
}

.accordion-block-wrap {
    // overflow: hidden;
    margin-bottom: 3rem !important;
    p {
        font-family: $source-sans;
    }
    .usa-accordion-content[aria-hidden=true] {
        display: block;
        height: 220px;
        overflow: hidden;
    }
    .usa-accordion-button {
        box-shadow: 0px 0px 36px 29px #fff;
        position: relative;
        background-color: transparent;
        text-align: right;
        a {
            color: #49A564;
        }
    }
}
