#gov-banner > div.usa-banner-guidance-gov.usa-width-one-half > div > p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}

#gov-banner > div.usa-banner-guidance-ssl.usa-width-one-half > div > p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
}