#weather {
  background-image: url(https://radar.weather.gov/Conus/Loop/NatLoop_Small.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  .zip-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
  }
	button {
		background: $blue;
		border: none;
    border-radius: 5px;
    padding: 8px 14px;
    font-size: 15px;
    color: #fff;
    width: 15%;
    float: right;
	}
	#weather.alt {
	  background: #0084ff;
	  color: #fff;
	  margin-top: 40px;
	  width: 200px;
	}
	#weather.alt button {
	  background: #fff;
	  color: #000;
	}
	label {
    width: 40%;
    float: left;
    margin-top: 1.3rem;
    text-align: left;
    padding-left: .5rem;
    font-size: 1.7rem;
    font-weight: bold;
	}
	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}
	input[type="number"] {
		-moz-appearance: textfield;
	}	
	#zip {
    width: 40%;
    float: left;
    height: 3rem;
    margin-top: 1rem;
	}
}

#new-weather {
  display: none;
  background: #fff;
  font-family: $source-sans;
  padding-top: 6rem;
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
	#icon {
		display: inline-block;
		width: 38%;
		img {
			margin: 0 20px;
		}
	}
	.weather-inner {
		display: inline-block;
		float: right;
		width: 62%;
		#temp {
	    font-size: 4.5rem;
	    font-weight: 900;
	    text-align: left;
	    display: inline-block;
	    float: left;
		}
		#location {
			float: left;
			font-size: 1.6rem;
			font-weight: bold;
			padding: 1rem 0 0 1rem;
			width: inherit;
			text-align: left;			
		}
		#change {
			float: left;
			line-height: 1rem;
			margin-top: -5px;
			width: inherit;
			text-align: left;			
			a {
				color: #0070BD;
				font-size: 1.6rem;
				font-weight: bold;
				text-align: left;
				padding: 0 0 0 1rem;
				width: 100%;
				line-height: 1.8;				
			}
		}
		#condition, #hiandlow, .wind-info {
			width: 100%;
			float: left;
			text-align: left;
			font-size: 1.8rem;			
		}
	}
	.noaa, #time {
    display: inline-block;
    width: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
	}
	.noaa {
    left: 0;
    bottom: 0;
    background-image: url(../img/noaa_logo_circle_72x72.svg);
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
    margin-left: 1rem;
    line-height: 2.5rem;
    text-align: left;
    padding-left: 5rem;
	}
	#time {
		text-align: right;
		right: 0;
		padding-right: 1rem;
	}
}