*, ::after, ::before {
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

.focus {
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: .3rem;
  outline-offset: .5rem;
}
