.usa-banner-text #nav-branding-bar {
  margin-left: auto;
  margin-top: 4px;
  @media (max-width: 1000px) {
    display: none;
  }

  ul {
    display: flex;
    padding-left: 11px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    li {
      list-style-type: none;
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin-bottom: 0;
      a {
        padding: 0 6px;
      }
      @include grey-bg-link-hover;
    }
    li:last-of-type a {
      padding-right: 0;
    }
  }
  .icon-globe {
    background-image: image("globe.svg") !important;
    background-repeat: no-repeat;
    padding-left: 1.7rem !important;
    margin-left: 7px;
    background-position: left 3px;
    background-size: 11px;
    background-repeat: no-repeat;
  }
}
