.primary-nav {
  background: $heritage;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  order: 2;
  text-decoration: none;
  li {
    background-color: transparent;
    display: inline-block;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    order: 2;
    width: auto;
    // Add styles specific to the first link in the menu
    &:first-of-type {
      a {
      }
    }
    &:first-child {
      border-top: none;
    }
    a, .nav-link {
      border: none;
      font-size: 1.8rem;
      padding: 1.3rem 3rem 1.7rem;
      border-left: none;
      color: #fff;
      font-weight: 500;
      line-height: 1.2;
      background-color: inherit;
      display: block;
      text-decoration: none;
      span {
        padding-bottom: 2px;
      }
      &:focus, &.focus {
        outline-width: 0px;
        outline-offset: 3px;
        outline-color: $focus;
        box-shadow: 0px 0px 4px $focus;
      }
      &:hover, &.hover {
        text-shadow: #fff0 !important;
        -webkit-text-stroke: #fff0 !important;
        span {
          border-bottom: 4px solid #fff;
        }
      }
      &:visited, &.visited {
        color: #fff;
        &:hover, &.hover {
          text-shadow: #fff0 !important;
          -webkit-text-stroke: #fff0 !important;
        }
      }
    }    
  }
}