.primary-nav {
  background: $heritage;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  order: 2;
  text-decoration: none;
  li {
    background-color: transparent;
    display: inline-block;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    order: 2;
    width: auto;
    // Add styles specific to the first link in the menu
    &:first-of-type {
      a {
      }
    }
    &:first-child {
      border-top: none;
    }
    .nav-link {
      border: none;
      font-size: 1.8rem;
      padding: 1.3rem 3rem 1.7rem;
      border-left: none;
      color: #fff;
      font-weight: 500;
      line-height: 1.2;
      background-color: inherit;
      display: block;
      text-decoration: none;
      span {
        padding-bottom: 2px;
      }
      &:focus, &.focus {
        outline-width: 0px;
        outline-offset: 3px;
        outline-color: $focus;
        box-shadow: 0px 0px 4px $focus;
      }
      &:hover, &.hover {
        text-shadow: #fff !important;
        -webkit-text-stroke: #fff !important;
        span {
          border-bottom: 4px solid #fff;
        }
      }
      &:visited, &.visited {
        color: #fff;
        &:hover, &.hover {
          text-shadow: #fff !important;
          -webkit-text-stroke: #fff !important;
        }
      }
    }

    & > .accordion-button.nav-link {
      background-image: image('arrow-down-white.svg');
      background-repeat: no-repeat;
      background-size: 1.4rem;
      background-position: 88% 47%;;

      &:hover, &.submenu-item-active {
        cursor: pointer;
        border-bottom: .35rem solid #fff;
        padding: 1.3rem 2rem .15rem 0;
        margin: 0 1rem 1.15rem 3rem;
        background-position: 99% 86%;
      }

      &[aria-expanded="true"] {
        background-image: image('arrow-up-white.svg');
      }

      & + .nav-submenu {
        display: none;
        position: absolute;
        max-width: 26rem;
        width: 100%;
        background: #ddd;
        justify-content: center;
        flex-direction: column;
        padding: .5rem 0;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

        li {
          padding: 1rem 0;

          &:hover, .submenu-item-active {
            cursor: pointer;
            text-decoration: underline;
            background-color: rgba(73,165,100,0.2);

          }

          &:first-child {
            padding: 0;
            text-transform: uppercase;

            & > a {
              display: flex;
              align-items: center;
              border-bottom: 1px solid #BBBBBB;

              &:hover {
                -webkit-text-stroke: 0 !important;
                text-shadow: none !important;
              }

              span {
                font-weight: bold;
                line-height: 2.4rem;
                font-size: 1.6rem;
                color: $heritage;
              }

          }

          &:hover {
            text-decoration: none;
              & > a {
                & > span {
                  text-shadow: none !important;
                  -webkit-text-stroke: 0 !important;
                }
              }
            }
          }
        }

        a {
          color: #212121;
          font-size: 16px;
          line-height: 18px;
          padding: .5rem;
          width: 85%;
          text-decoration: none;
          margin: 0 2rem;
        }

        .has-submenu {
          background-image: image('arrow-right.svg');
          background-repeat: no-repeat;
          background-size: 1rem;
          background-position: 93% center;
          & > a {
            width: 85%;
          }
        }

        & .nav-submenu-submenu {
          display: none;
          position: absolute;
          max-width: 26rem;
          width: 100%;
          justify-content: center;
          flex-direction: column;
          padding: .5rem 0;
          left: 26rem;
          margin-top: -3.2rem;
          background-color: #FFFFFF;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
          z-index: -1;
        }
      }
      &.submenu-item-active {
        & + .nav-submenu {
          display: flex;
        }
      }
    }
  }
}
