.primary-nav {
  background: $heritage;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
  left: 0;
  text-decoration: none;
  // position: absolute;
  height: 63px;
  li {
    background-color: transparent;
    display: inline-block;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    order: 2;
    width: auto;
    height: 64px;
    // Add styles specific to the first link in the menu
    &:first-of-type {
      a {
      }
    }
    &:first-child {
      border-top: none;
    }
    .nav-link {
      border: none;
      font-size: 1.8rem;
      padding: 1.9rem 3rem 1.7rem;
      border-left: none;
      color: #fff;
      font-weight: 500;
      line-height: 1.2;
      background-color: inherit;
      display: block;
      text-decoration: none;
      span {
        padding-bottom: 2px;
      }
      &:focus, &.focus {
        outline-width: 0px;
        outline-offset: 3px;
        outline-color: $focus;
        box-shadow: 0px 0px 4px $focus;
      }
      &:hover, &.hover {
        text-shadow: #fff0 !important;
        -webkit-text-stroke: #fff0 !important;
        span {
          border-bottom: 4px solid #fff;
        }
      }
      &:visited, &.visited {
        color: #fff;
        &:hover, &.hover {
          text-shadow: #fff0 !important;
          -webkit-text-stroke: #fff0 !important;
        }
      }
    }

    & > .accordion-button.nav-link {
      display: flex;
      align-items: center;

      & > span {
        display: flex;
        align-items: center;
      }

      & .nav-arrow {
        background-image: image('arrow-down-white.svg');
        background-repeat: no-repeat;
        background-size: 1.4rem;
        background-position: center;
        width: 1.8rem;
        height: 1.8rem;
        display: flex;
        margin-left: 0.4rem;

      }

      &:hover, &.submenu-item-active {
        cursor: pointer;

        & > span {
          border-bottom: none;
          box-shadow: 0 .35rem 0 #fff;
        }
        & span.nav-arrow {
          border-bottom: none;
        }
      }

      &[aria-expanded="true"] {
        .nav-arrow {
          background-image: image('arrow-up-white.svg');
        }
      }

      & + .nav-submenu {
        display: none;
        position: absolute;
        max-width: 26rem;
        width: 100%;
        background: #ddd;
        justify-content: center;
        flex-direction: column;
        padding: .5rem 0;
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

        li {
          padding: 1rem 0;
          display: flex;
          align-items: center;

          &:hover, &.submenu-item-active {
            cursor: pointer;
            text-decoration: underline;
            background-color: rgba(73,165,100,0.2);
            border-left: 0.6rem solid $heritage;

            a {
              -webkit-text-stroke: 0 !important;
              text-shadow: none !important;
              margin-left: 1.4rem;
            }

          }

          &:first-child {
            padding: 0;
            text-transform: uppercase;

            & > a {
              display: flex;
              align-items: center;
              border-bottom: 1px solid #BBBBBB;

              &:hover {
                -webkit-text-stroke: 0 !important;
                text-shadow: none !important;
              }

              span {
                font-weight: bold;
                line-height: 2.4rem;
                font-size: 1.6rem;
                color: $heritage;
              }

            }

            &:hover {
              text-decoration: none;
              & > a {
                & > span {
                  text-shadow: none !important;
                  -webkit-text-stroke: 0 !important;
                }
              }
            }

          }


          a {
            color: #212121;
            font-size: 16px;
            line-height: 18px;
            padding: .5rem;
            width: 85%;
            text-decoration: none;
            margin: 0 2rem;
          }

          &.has-submenu {
            background-image: image('arrow-right.svg');
            background-repeat: no-repeat;
            background-size: 1rem;
            background-position: 93% center;
            & > a {
              width: 85%;
            }

            &.submenu-item-active {
              & > .nav-submenu-submenu {
                display: flex;
              }
            }
          }

          & .nav-submenu-submenu {
            display: none;
            position: absolute;
            max-width: 26rem;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            padding: .5rem 0;
            left: 26rem;
            margin-top: -3.2rem;
            background-color: #FFFFFF;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);

            li {
              a {
                margin: 0 2rem;
              }
              &:hover {
                border-left: none;
                a {
                  -webkit-text-stroke: 0 !important;
                  text-shadow: none !important;
                }
              }

              &:first-child {
                  padding: 0;
                  text-transform: none;

                  & > a {
                    display: block;
                    border-bottom: none;

                    &:hover {
                      -webkit-text-stroke: 0 !important;
                      text-shadow: none !important;
                    }

                    span {
                      font-weight: normal;
                      line-height: 2.4rem;
                      font-size: 1.6rem;
                      color: #212121;
                    }

                  }

                  &:hover {
                    text-decoration: underline;
                    & > a {
                      & > span {
                        text-shadow: none !important;
                        -webkit-text-stroke: 0 !important;
                      }
                    }
                  }

              }
            }
          }
        }

      }

      &.submenu-item-active {
        & + .nav-submenu {
          display: flex;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .banner-logo {
    display: flex;
    flex-direction: row;

    img {
      width: 5rem;
      height: 5rem;
    }
    .logo-text {
      display: flex;
      flex-direction: column;
      padding-left: .5rem;

      span {
        font-size: 1.4rem;
      }
      span:first-child {
        font-size: 2rem;
      }
    }
  }

  .mobile-menu-button {
    width: 5rem;
    height: 5rem;
    background: $heritage;
    color: white;
    padding: 0;
  }
}


.mobile-primary-nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: #00000094;
  justify-content: flex-end;
  overflow: hidden;
  display: none;

  .nav-container {
    max-width: 75vw;
    width: 75vw;

    .menus-silder-container {
      height: 100vh;
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      position: absolute;

      &.level-2 {
        .primary-nav {
          margin-left: -75vw;
        }
      }

      .primary-nav {
        height: 100%;
        width: 75vw;

        & ~ div {
          width: 75vw;
          background: $heritage;
          color: white;

          ul {
            list-style-type: none;
            margin: 0;
            padding: 1rem 3rem;

            li {
              padding: 2rem 0;

              &.has-submenu {
                background-image: image('arrow-right-white.svg');
                background-repeat: no-repeat;
                background-size: 1rem;
                background-position: right center;
                ul {
                  display: none;
                }
              }
              & > a {
                color: white;
                text-decoration: none;
              }
            }
          }
        }

        li {
          width: 100%;

          & > .nav-link:hover {
            & > span {
              border: 0;
              box-shadow: none;
            }
          }

          .accordion-button {

            & > span {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;

              &:hover {
                border: 0;
                box-shadow: none;
              }

              .nav-arrow {
                background-image: image('arrow-right-white.svg');
                background-size: 0.8rem;
              }
            }
          }
        }
      }

    }

    .mobile-nav-header {
      background-color: $heritage;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 1rem 3rem;
      color: $white;

      span {
        width: 2rem;
        height: 2rem;
        background-image: image('close-white.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1.8rem;
        cursor: pointer;
      }

      div {
        width: 100%;
        background-image: image('arrow-left-white.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        background-position: left center;
        padding: 1.5rem 3rem;
        border-bottom: 1px solid #15774E;
      }
    }
  }
}

.mobile-menu-active {
  overflow: hidden;
}
