.usa-footer {
    .usa-footer-primary-link {
        color: #212121;
        display: block;
        font-weight: 700;
        margin-top: 0;
        padding-bottom: 2rem;
        padding-top: 2rem;
        text-decoration: none;
        border-top: none;
    }
    .usa-unstyled-list {
        display: block;
    }
}

#block-farmerslogo {
    float: right;
    padding-right: 5rem;
    padding-top: 1rem;
    img {
        max-width: 17rem;
    }
}

#fba-button {
    position: fixed;
    bottom: 0;
    right: 50px;
    background: #02bfe7;
    color: #fff;
    padding: 12px 16px;
    font-size: 1em;
    text-decoration: none;
    z-index: 999999999;
}

.usa-footer-slim .usa-footer-nav {
    .usa-footer-primary-content {
        margin-right: 4%;
        width: inherit;
    }
    a {
        display: block;
    }
}

@media screen and (min-width: 600px) {
    .usa-footer-slim .usa-footer-primary-section {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
}

@media screen and (min-width: 600px) {
    .usa-footer-primary-section .usa-grid-full {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media screen and (min-width: 600px) {
    .usa-footer-primary-section .usa-footer-primary-content {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 600px) {
    .usa-footer-slim .usa-footer-nav .usa-footer-primary-content {
        margin-right: 4%;
        width: inherit;
    }
}

.usa-social_link,
.usa-link-facebook,
.usa-link-twitter,
.usa-link-youtube,
.usa-link-rss,
.usa-link-flickr,
.usa-link-google,
.usa-link-govdelivery,
.usa-link-instagram {
    margin: 0 1.1rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 3rem;
    display: inline-block;
    height: 4.4rem;
    position: relative;
    text-align: center;
    width: 4.4rem;
}

.usa-link-instagram {
    background-image: url(../img/social-icons/svg/social-icon-instagram.svg);
}

@media screen and (min-width: 481px) {
    .usa-social_link,
    .usa-link-facebook,
    .usa-link-twitter,
    .usa-link-youtube,
    .usa-link-rss,
    .usa-link-flickr,
    .usa-link-google,
    .usa-link-govdelivery,
    .usa-link-instagram {
        margin: 0 1.1rem 0 0;
    }
}

.usa-social_link span,
.usa-link-facebook span,
.usa-link-twitter span,
.usa-link-youtube span,
.usa-link-rss span,
.usa-link-flickr span,
.usa-link-google span,
.usa-link-govdelivery span,
.usa-link-instagram span {
    position: absolute;
    left: -999em;
}