a {
  word-wrap: break-word;
  &.text-link:after,
  &.external-link:after {
    display: block !important;
    background: none !important;
    width: 100%;
    height: 100%;
  }
  &:not([href^="mailto"]),
  &.show-email {
    &:after {
      word-wrap: break-word;
      text-transform: lowercase;
      max-width: 610px !important;
      content: " \A ("attr(href) ") ";
      color: $asphalt !important;
      // font-size: 16px !important;
      font-weight: normal;
      margin-left: 1rem;
      margin-right: 0.5rem;
      padding-left: 0 0.5rem;
    }
  }
}
a.hide-link-on-print::after {
  display: none;
}
a.btn:after {
  color: $white !important;
  max-width: 250px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.card a:after {
  margin-left: 2rem;
}
.card {
  a:after {
    max-width: 350px !important;
  }
}
.video-url-print {
  display: block !important;
}
.video-embed-field-provider-youtube iframe {
  &:before {
    content: " \A ("attr(data-src) ") ";
  }
}
