// Carousel styles

.slick-arrow {
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  transition: .3s all;
  &:before {
    background: none;
    content: none;
  }
}
.slick-prev {
  background-image: url(../img/carousel-arrow-left.svg);
  background-size: cover;
  z-index: 1;
  &:hover, &:focus {
    background-image: url(../img/carousel-arrow-left.svg);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
  }
}
.slick-next {
  background-image: url(../img/carousel-arrow.svg);
  background-size: cover;
  z-index: 1;
  &:hover, &:focus {
    background-image: url(../img/carousel-arrow.svg);
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center center;
  }
}

.carousel-wrap {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  .corners {
    padding: 2rem;
  }
  .carousel-item {
    margin: 3rem 10rem;
    .card {
      padding: 2rem 6rem 3.3rem 7rem;
      position: relative;
      display: flex;
    }
    h2 {
      font-size: 4rem;
      margin-bottom: 0;
      margin-top: 4rem;
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.8rem;
      margin-top: 0;
    }
    a {
      background-image: none;
      padding: 1rem 4rem 1rem 0;
      right: auto;
      top: auto;
      position: relative;
      font-family: "Source Sans Pro", sans-serif;
      color: #49A564;
      font-weight: bold;
      z-index: 1;
      text-decoration: underline;
    }
    img {
      padding: 0;
      margin: 0 2.6rem 0 0;
      width: 25rem;
      height: 10rem;

      @media screen and (max-width: 559px) {
        display: none;
      }
    }
    .carousel-inner-wrap {
      display: inline-block;
    }
  }
  .slick-prev {
    left: 10px;
    &:hover, &:focus {
   	 left: 8px;
    }
  }
  .slick-next {
    right: 0;
    &:hover, &:focus {
      right: -2px;
    }
  }
}

.blog-carousel {
  padding: 3rem 0;
  .card {
	  width: 362px;
  }
  .slick-slide {
    padding-left: 3rem;
    left: -1rem;
    position: relative;
    height: 545px;
    h3 {
      font-size: 2rem;
      line-height: 1.2;
    }
  }
  .slick-prev {
    left: -1px;
    &:hover, &:focus {
   	 left: -7px;
    }
  }
  .slick-next {
    right: -11px;
    &:hover, &:focus {
      right: -16px;
    }
  }
}

.carousel-title.usa-grid {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.image-carousel {
  .slick-slide {
    left: -1rem;
    padding-left: 0;
  }
  .image-carousel-title {
    left: -10px;
    position: relative;
    h2 {
      margin: 0;
    }
  }
  .image-carousel-item {
    padding: 3rem;
    margin-bottom: 1rem;
  }
  img {
    width: 85%;
    margin: 0 auto;
  }
  h3 {
    margin: 0;
  }
}

.image-carousel-footer {
  a {
    height: 22px;
    color: #006546; //508
    font-family: 'Source Sans Pro';
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    padding-top: 1.5rem;
    background-image: none;
    position: relative;
    right: -1.5vw;
  }
}

.paragraph--type-blog-carousel {
  padding-top: 5rem;
}
