.success-stories, .blog-carousel {
  .card {
    height: 523px;
    position: relative;
  }
  .btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    a {
      background-color: #0071BC;
      color: #fff;
      text-decoration: none;
      padding: 1.5rem;
      font-weight: bold;
      display: block;
      width: 50%;
      margin: 2rem auto;
      border-radius: 6px;
      text-align: center;
    }
  }
  .usda-latest-link:hover {
    color: $blue;
  }
  .usda-latest-link {
    color: $black;
  }
  .usda-latest-link:visited {
    color: #5B078E;
  }
  .success-body {
    padding-left: 20px;
    padding-right:20px;
  }
  h3 {
    padding-left: 20px;
    padding-right:20px;
    margin-top: 0;
  }
  img {
    padding: 10px;
  }
}