.no-border {
  border: none;
}
.grey-border-top {
  border-top: 1px solid $grey2;
}
.grey-border-bottom {
  border-bottom: 1px solid $grey2;
}
.top-border-grey2 {
  border-top: 1px $gray2 solid;
}
.bottom-border-grey2 {
  border-bottom: 1px $gray2 solid;
}
