$flexWrap: wrap, "wrap-reverse", nowrap;
$flexJustifyContent: start, end, center, "space-between", "space-around",
  "space-evenly";

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-no-resize {
  flex: 0 0 auto;
}
@each $wrap in $flexWrap {
  .flex-#{$wrap} {
    flex-wrap: #{$wrap};
  }
}
@each $flexJustify in $flexJustifyContent {
  .flex-jc-#{$flexJustify} {
    justify-content: #{$flexJustify};
  }
}
.flex-column-reverse-mobile-l {
  @media (max-width: $screen--L) {
    flex-direction: column-reverse !important;
  }
}
.flex-column-reverse-mobile-m {
  @media (max-width: $screen--M) {
    flex-direction: column-reverse !important;
  }
}
.flex-column-reverse-mobile-s {
  @media (max-width: $screen--S) {
    flex-direction: column-reverse !important;
  }
}
.flex-row-reverse-mobile-l {
  @media (max-width: $screen--L) {
    flex-direction: row-reverse !important;
  }
}
.flex-row-reverse-mobile-m {
  @media (max-width: $screen--M) {
    flex-direction: row-reverse !important;
  }
}
.flex-row-reverse-mobile-s {
  @media (max-width: $screen--S) {
    flex-direction: row-reverse !important;
  }
}
