$spacingIntegers: 0, 1, 2, 3, 4, 5, 6, 8, 10, 12, 16, 20, 24, 32, 40, 48, 56, 64,
  72, 80, 88, 96, 100;
$step: 0.25;

@function calc-width($value1, $value2) {
  @return $value1 * $value2;
}

// padding
@each $integer in $spacingIntegers {
  $spacingValue: calc-width($integer, $step) + "rem";

  .p-#{$integer} {
    padding: #{$spacingValue};
  }
  .pt-#{$integer} {
    padding-top: #{$spacingValue};
  }
  .pb-#{$integer} {
    padding-bottom: #{$spacingValue};
  }
  .pl-#{$integer} {
    padding-left: #{$spacingValue};
  }
  .pr-#{$integer} {
    padding-right: #{$spacingValue};
  }
  .px-#{$integer} {
    padding-left: #{$spacingValue};
    padding-right: #{$spacingValue};
  }
  .py-#{$integer} {
    padding-top: #{$spacingValue};
    padding-bottom: #{$spacingValue};
  }

  //margins
  .m-#{$integer} {
    margin: #{$spacingValue};
  }
  .mt-#{$integer} {
    margin-top: #{$spacingValue};
  }
  .mb-#{$integer} {
    margin-bottom: #{$spacingValue};
  }
  .ml-#{$integer} {
    margin-left: #{$spacingValue};
  }
  .mr-#{$integer} {
    margin-right: #{$spacingValue};
  }
  .mx-#{$integer} {
    margin-left: #{$spacingValue};
    margin-right: #{$spacingValue};
  }
  .my-#{$integer} {
    margin-top: #{$spacingValue};
    margin-bottom: #{$spacingValue};
  }
}
