//Farms.gov Farmer's Forecast/Landing Page Styles
#farmers-playbook-landing-page {
  .usa-footer-return-to-top {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.farmers-playbook {
  position: relative;

  .back-wrap {
    visibility: hidden;
    height: 0;
  }

  #background-image-1 {
    background-image: url(../../../../modules/custom/farmers_playbook/images/sunset.jpg);
    background-size: cover;
    background-position: bottom;
    height: 500px;
    position: relative;
    z-index: -1;
    .farmers-gov-logo.large {
      position: absolute;
      margin: auto;
      bottom: 150px;
      left: 0;
      width: 100%;
      img {
        display: block;
        margin: auto;
        bottom: 100px;
        max-width: 90%;
      }
    }
    @media screen and (max-width: 550px) {
      height: 400px;
    }
  }
  #background-image-2 {
    background-image: url(../../../../modules/custom/farmers_playbook/images/tomato-hero-small.jpg);
    background-size: cover;
    z-index: -1;
    position: absolute;
    height: 900px;
    bottom: -10px;
    width: 100%;
    @media screen and (max-width: 550px) {
      height: 1500px;
    }
  }
  .vision-card {
    font-family: $merriweather;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 11px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    min-height: 270px;
    max-width: 1140px;
    text-align: left;
    z-index: 1;
    margin: auto;
    padding: 40px 86px 30px 86px;
    margin-bottom: 60px;
    &.link {

    }

    &.playbook {
      margin-top: -120px;
      .vision-card__content {

      }
    }
    &.guiding-principles {
      .vision-card__content {
        font-size: 22px;
        font-weight: 300;
        line-height: 35px;
        font-family: $merriweather;
        a {
          color: $green;
        }
      }
    }
    .vision-card__title {
      color: #212121;
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 15px;
      margin-top: 0px;
      font-family: $source-sans;
    }
    .vision-card__content {
      font-family: $merriweather;
      color: #212121;
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 3rem;
      margin-bottom: 12px;
    }
    .vision-card__footer {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.12px;
      line-height: 20px;
      font-family: $source-sans;
    }

    .visionCard__top-corner {
      position: absolute;
      top: 14px;
      left: 14px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 58px 58px 0 0;
      border-color: #49a564 transparent transparent transparent;
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 38px 38px 0 0;
        border-color: white;
        position: absolute;
        left: 10px;
        bottom: 10px;
      }
    }
    .visionCard__bottom-corner {
      position: absolute;
      bottom: 14px;
      right: 14px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 58px 58px;
      border-color: transparent transparent #f7be00 transparent;
      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 38px 38px;
        border-color: white;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
    @media screen and (max-width: 550px) {
      padding: 80px 36px 50px 36px;
      margin-bottom: 30px;
    }
  }
  .primary-region {
    max-width: 1100px;
    margin: auto;
    .primary-region__title {
      color: #212121;
      font-size: 40px;
      font-weight: bold;
      line-height: 40px;
      margin-bottom: 5px;
      @media screen and (max-width: 1100px) {
        padding-left: 10px;
      }
    }
    .primary-region__header {
      color: #212121;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 25px;
      @media screen and (max-width: 1100px) {
        padding-left: 10px;
      }
    }
    .measuring-impact {
      .large-card {
        height: 360px;
      }
    }
  }
  .subregion {
    padding-left: 70px;
    margin: auto;
    position: relative;
    @media screen and (max-width: 1100px) {
      padding-left: 80px;
    }
    @media screen and (max-width: 450px) {
      padding-left: 0;
    }
    .subregion__icon {
      position: absolute;
      left: 0;
      top: -5px;
      img {
        width: 60px;
      }
      @media screen and (max-width: 1100px) {
        left: 10px;
      }
    }
    .subregion__title {
      color: #212121;
      font-family: "Source Sans Pro";
      font-size: 32px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 10px;
      @media screen and (max-width: 450px) {
        padding-left: 80px;
      }
    }
    .subregion__header {
      color: #212121;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      margin-bottom: 18px;
      @media screen and (max-width: 450px) {
        padding-left: 80px;
      }
    }
    &.tools {
      .subregion__icon {
        img{

        }
      }
    }
    &.education {
      .subregion__icon {
        img{

        }
      }
    }
    &.service {
      .subregion__icon {
        top: -20px;
        img{
        }
      }
    }
    &.engagement {
      .subregion__icon {
        img{
        }
      }
    }



  }


  .large-card-grid__content {
    margin-bottom: 60px;
    &.usa-grid {
      max-width: 1140px;
    }
  }

  .large-card {
    padding: 35px 18px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 11px 20px 1px rgba(0, 0, 0, 0.2);
    .large-card__icon {
      width: 100%;
      height: 200px;
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      margin-bottom: 42px;
    }
    &.web-resources {
      .large-card__icon {
        padding-top: 0;
        img {
          max-height: 200px;
        }
      }
    }
    &.load-time {
      .large-card__icon {
        padding-top: 10px;
        img {
          max-height: 180px;
        }
      }
    }
    &.customer-comments {
      .large-card__icon {
        padding-top: 10px;
        img {
          max-height: 180px;
        }
      }
    }
    .large-card__content {
      color: #212121;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -0.34px;
      line-height: 25px;
      .red {
        display: inline;
        color: $black;
      }
    }
    &.usa-width-one-third {
      @media screen and (max-width: 1100px) {
        height: 387px;
      }
      @media screen and (max-width: 770px) {
        float: none;
        display: block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
      }

    }
  }

  .small-card-grid__content {
    margin-bottom: 60px;
    &.usa-grid {
      max-width: 1140px;
    }
  }
  .small-card {
    position: relative;
    height: 150px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 11px 20px 1px rgba(0,0,0,0.2);
    margin-bottom: 15px;
    &.available {
      cursor: pointer;
    }
    .small-card__icon {
      &.available {
        box-sizing: border-box;
        height: 2px;
        width: 40px;
        margin-bottom: 14px;
        border: 5px solid #DFE0E2;
      }
      &.upcoming {
        color: #FFFFFF;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        text-align: center;
        background: #DFE0E2;
        width: 80px;
      }
      margin-bottom: 14px;
    }
    &.tool-card {
      .small-card__icon.available {
        box-sizing: border-box;
        height: 2px;
        width: 40px;
        margin-bottom: 14px;
        border: 5px solid #F7BE00;
      }
      &.upcoming .small-card__title {
        color: #DFE0E2;
      }
    }
    &.education-card {
      .small-card__icon.available {
        box-sizing: border-box;
        height: 2px;
        width: 40px;
        margin-bottom: 14px;
        border: 5px solid #1A6AD3;
      }
      &.upcoming .small-card__title {
        color: #DFE0E2;
      }
    }
    &.service-card {
      .small-card__icon.available {
        box-sizing: border-box;
        height: 2px;
        width: 40px;
        margin-bottom: 14px;
        border: 5px solid #009346;
      }
      &.upcoming .small-card__title {
        color: #DFE0E2;
      }
    }
    &.engagement-card {
      .small-card__icon.available {
        box-sizing: border-box;
        height: 2px;
        width: 40px;
        margin-bottom: 14px;
        border: 5px solid #FF7C42;
      }
      &.upcoming .small-card__title {
        color: #DFE0E2;
      }
    }
    .small-card__title {
      color: #212121;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: -0.34px;
      line-height: 25px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .small-card__footer {
      position: absolute;
      bottom: 17px;
      .small-card__footer-content {
        color: #212121;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        position: relative;
        a {
          text-decoration: none;
          color: #212121;
        }
      }
      .small-card__footer-logo {
        position:absolute;
        right: -40px;
        bottom: -10px;
        img {
          height: 2.1rem;
          width: 2.1rem;
          position: relative;
          margin-bottom: .5rem;
          left: -1rem;
        }

      }
    }
  }
  .usa-grid.mini-card-grid {
    @media screen and (min-width: 1140px) {
      padding-left: 0;
      padding-right: 0;
    }

  }
  .mini-card {
    height: 110px;
    border-radius: 2px;
    background-color: #FBFBFA;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.5);
    padding: 0 18px 0 25px;
    position: relative;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 20px;
    }
    .mini-card__content {
      color: #212121;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.22px;
      line-height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 20px;
      &::before {
        content: '';
        height: 6px;
        width: 6px;
        border-radius: 1px;
        background-color: #212121;
        position: absolute;
        top: 8px;
        left: -12px;
      }
    }
    &.usa-width-one-third {
      @media screen and (max-width: 750px) {
        height: 55px;
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        margin-bottom: 5px;
      }
      @media screen and (max-width: 550px) {
        height: 100px;
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        margin-bottom: 5px;
      }
    }
  }

  .usa-width-one-fourth {
    @media screen and (max-width: 1100px) {
      //height: 387px;
    }
  }

}
