.h2a-program-page {

  .usa-width-one-half {
    margin-bottom: 2rem;
  }

  .accordion-block-wrap {
    overflow: hidden;
    &:first-of-type {
      margin-top: 4rem;
    }
    .usa-accordion-button {
      background-color: #fff;
    }
  }

  .expenses-table {

    table {
      border-collapse: collapse;
      line-height: 2em;
      margin-bottom: 3em;
      border: 2px solid #EDEDED;

      @media only screen and (max-width: 600px) {
        line-height: 1.5em;
      }
      th {
        background: #EDEDED;
        font-size: 2rem;
        border: 2px solid #EDEDED;
        padding: 0.5em 2em;

        @media only screen and (max-width: 600px) {
          padding: .5em 0.4em;
        }

        &:first-child {
          width: 35%;
          @media only screen and (max-width: 600px) {
            width: auto;
          }
        }
      }

      td {
        border: 1px solid #EDEDED;
        padding: 1em 2em;
        @media only screen and (max-width: 600px) {
          padding: 0.5em .5em 0.5em 0.5em
        }

        &.cost-association-section-title {
          font-size: 2rem;
          font-weight: bold;
          background: #FAFAFA;
          padding: 0.45em 2em;
          @media only screen and (max-width: 600px) {
            padding: 0.45em 0.45em;
            width: auto;
          }
        }
      }
      tr:last-child {
        table {
          border-bottom: none;
        }
      }
    }
  }

  .expenses-info {
    padding: 0;
    .header-div {
      border-bottom: 5px solid #F7BE01;
      padding-bottom: .5em;
      font-size: 25px;
      letter-spacing: 1px;
      font-weight: 600;
    }
    p, li {
      font-weight: 100;
      font-size: 18px;
    }
  }

  .farmers-tab-wrap {
    padding: 5rem 0 1rem;
    background-color: #F7F7F7;
  }

  #h2a-program-page-lower-wrap {
    background-color: #FAFAFA;
    padding-top: 1rem;
    margin-top: 2rem;
    padding-bottom: 6rem;
    margin-bottom: -4rem;
  }

}
