#block-farmers-ccc-910-webform {
    margin-top: 2rem;
    #edit-who-is-this--wrapper,
    #edit-source-of-production-evidence-corn,
    #edit-source-of-production-evidence-cotton,
    #edit-source-of-production-evidence-sorghum,
    #edit-source-of-production-evidence-soybeans,
    #edit-source-of-production-evidence-wheat,
    #edit-source-of-production-evidence-dairy,
    #edit-source-of-production-evidence-hogs,
    #edit-source-of-production-evidence-shelled-almonds,
    #edit-source-of-production-evidence-fresh-sweet-cherries {
        legend {
            >span {
                font-size: 1.8rem;
                font-weight: normal;
            }
        }
    }
    .apply-text {
        font-size: 2rem;
    }
    #edit-actions {
        #edit-actions-wizard-next {
            font-size: 2rem;
            position: relative;
            font-family: "Source Sans Pro";
            font-weight: bold;
            background-color: #1A6AD3;
            color: #fff;
            text-transform: capitalize;
            padding: 1rem 4rem;
            border-radius: 5px;
            min-width: 120px;
            float: right;
            width: 15%;
        }
        #edit-actions-wizard-next:disabled {
            background-color: #ddd;
            border: 1px solid rgb(204, 204, 204);
            color: #292b2c;
            cursor: not-allowed;
        }
        #edit-actions-wizard-prev {
            font-size: 2rem;
            position: relative;
            font-family: "Source Sans Pro";
            font-weight: bold;
            float: left;
            width: 15%;
            text-transform: capitalize;
            padding: 1rem 4rem;
            border-radius: 5px;
            min-width: 120px;
            background-color: #fff;
            color: #1A6AD3;
            border: 1px solid #1A6AD3;
        }
        #edit-actions-preview-prev {
            font-size: 2rem;
            position: relative;
            font-family: "Source Sans Pro";
            font-weight: bold;
            float: left;
            width: 15%;
            text-transform: capitalize;
            padding: 1rem 4rem;
            border-radius: 5px;
            min-width: 120px;
            background-color: #fff;
            color: #1A6AD3;
            border: 1px solid #1A6AD3;
        }
        #edit-actions-submit {
            font-size: 2rem;
            position: relative;
            font-family: "Source Sans Pro";
            font-weight: bold;
            background-color: #1A6AD3;
            color: #fff;
            text-transform: capitalize;
            padding: 1rem 4rem;
            border-radius: 5px;
            min-width: 120px;
            float: right;
            width: 15%;
        }
        #edit-actions-preview-next {
            font-size: 2rem;
            position: relative;
            font-family: "Source Sans Pro";
            font-weight: bold;
            background-color: #1A6AD3;
            color: #fff;
            text-transform: capitalize;
            padding: 1rem 4rem;
            border-radius: 5px;
            min-width: 120px;
            float: right;
            width: 15%;
        }
    }
    #edit-city {
        width: 100%;
    }
    #edit-producer-entity-name,
    #edit-contact-producer-information {
        input {
            width: 43rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    #download-pdf {
        font-size: 2rem;
        position: relative;
        font-family: "Source Sans Pro";
        font-weight: bold;
        background-color: #1A6AD3;
        color: #fff;
        text-transform: capitalize;
        padding: 1rem 4rem;
        border-radius: 5px;
        min-width: 120px;
        width: 15%;
        text-decoration: none;
        margin-left: 1rem;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin-left: 0;
            margin-top: 1rem;
            display: block;
            text-align: center;
        }
    }
    #print-pdf {
        font-size: 2rem;
        position: relative;
        font-family: "Source Sans Pro";
        font-weight: bold;
        width: 15%;
        text-transform: capitalize;
        padding: 1rem 4rem;
        border-radius: 5px;
        min-width: 120px;
        background-color: #fff;
        color: #1A6AD3;
        border: 1px solid #1A6AD3;
        text-decoration: none;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin-left: 0;
            margin-top: 1rem;
            display: block;
            text-align: center;
        }
    }
    #final-step-stepper {
        li {
            span,
            a {
                cursor: default;
            }
        }
    }
    .card {
        background-color: #F7F7F7;
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
        border-top: 8px solid #49A564;
    }
    .form-radios {
        display: flex;
        flex-direction: column;
    }
    .progress-step {
        background-color: #F7F7F7;
        color: #BBBBBB;
        span {
            color: #BBBBBB;
        }
    }
    .progress-step.is-active {
        background-color: #006546;
        color: #FFFFFF;
        span {
            color: #FFFFFF;
        }
    }
    .progress-step.is-active:nth-of-type(1):after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 30px solid #006546;
        border-top: 29px solid #006546;
        border-bottom: 30px solid #006546;
        @media screen and (max-width: 1025px) {
            border-left: none;
            border-top: none;
            border-bottom: none;
        }
    }
    .progress-step.is-active:nth-of-type(4):before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 30px solid #006546;
        @media screen and (max-width: 1025px) {
            border-left: none;
            border-top: none;
            border-bottom: none;
        }
    }
    .progress-step.is-active:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 30px solid #DBEDE0;
        border-top: 28px solid #006546;
        border-bottom: 30px solid #006546;
        z-index: 2;
        @media screen and (max-width: 1025px) {
            border-left: none;
            border-top: none;
            border-bottom: none;
        }
    }
    .progress-step.is-active:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 30px solid #006546;
        border-top: 29px solid #F7F7F7;
        border-bottom: 30px solid #F7F7F7;
        @media screen and (max-width: 1025px) {
            border-left: none;
            border-top: none;
            border-bottom: none;
        }
    }
    .progress-step.is-complete {
        background-color: #DBEDE0;
        color: #212121;
        >span:nth-of-type(1) {
            padding-right: 3rem;
            background-image: url(../img/mfpcheck.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 3rem;
        }
        span {
            color: #212121;
        }
    }
    .progress-step.is-complete .progress-text:nth-of-type(1) {
        cursor: pointer;
        >a {
            cursor: pointer;
        }
        span {
            cursor: pointer;
        }
    }
    .progress-step.is-complete .progress-text:nth-of-type(2) {
        cursor: pointer;
        >a {
            cursor: pointer;
        }
        span {
            cursor: pointer;
        }
    }
    .progress-title {
        text-decoration: none;
        font-size: 1.6rem;
        cursor: auto;
        >span {
            font-weight: normal;
            text-transform: uppercase;
        }
    }
    .stepper {
        font-weight: bold;
    }
    .select2-container {
        width: 34rem !important;
    }
    .js-form-item-city {
        float: left;
        display: inline-block;
        margin-right: 2rem;
        width: 34rem;
    }
    .js-form-item-state {
        float: left;
        width: 25rem;
    }
    .js-form-item-zip-code {
        clear: both;
        margin-top: 15rem;
        input {
            width: 16rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    .js-form-item-who-is-this {
        label[for="edit-who-is-this-an-entity"] {
            margin-top: 0;
        }
        label[for="edit-who-is-this-a-producer"] {
            margin-top: 2rem;
        }
    }
    .js-form-item-street-address-1,
    .js-form-item-street-address-2-optional- {
        input {
            width: 62rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    .js-form-item-bushels-corn,
    .js-form-item-pounds-cotton,
    .js-form-item-bushels-sorghum,
    .js-form-item-bushels-soybeans,
    .js-form-item-bushels-wheat,
    .js-form-item-cwt-dairy,
    .js-form-item-head,
    .js-form-item-pounds-shelled-almonds,
    .js-form-item-pounds-fresh-sweet-cherries {
        input {
            width: 34rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    .js-form-item-source-of-production-evidence-corn,
    .js-form-item-source-of-production-evidence-cotton,
    .js-form-item-source-of-production-evidence-sorghum,
    .js-form-item-source-of-production-evidence-soybeans,
    .js-form-item-source-of-production-evidence-wheat,
    .js-form-item-source-of-production-evidence-dairy,
    .js-form-item-source-of-production-evidence-hogs,
    .js-form-item-source-of-production-evidence-shelled-almonds,
    .js-form-item-source-of-production-evidence-fresh-sweet-cherries {
        input {
            width: 34rem;
        }
        .description {
            width: 34rem;
            height: auto;
            font-size: 1.5rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    .js-form-item-title-relationship-corn,
    .js-form-item-title-relationship-cotton,
    .js-form-item-title-relationship-sorghum,
    .js-form-item-title-relationship-soybeans,
    .js-form-item-title-relationship-wheat,
    .js-form-item-title-relationship-dairy,
    .js-form-item-title-relationship-hogs,
    .js-form-item-title-relationship-shelled-almonds,
    .js-form-item-title-relationship-fresh-sweet-cherries {
        input {
            width: 53rem;
        }
        @media screen and (max-width: 950px) {
            input {
                width: 100%;
            }
        }
    }
    .webform-confirmation {
        margin-bottom: 2rem;
    }
    .webform-confirmation__message {
        p>strong {
            font-family: $source-sans;
        }
        p {
            font-family: $merriweather;
        }
        td p {
            font-family: $merriweather;
        }
    }
    .privacy-statement {
        margin-top: 6rem;
        .green-line {
            height: 3px;
            width: 100%;
            background-color: #006546;
        }
        .mfp-phone-number {
            color: #006546;
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
            font-family: $source-sans;
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 0;
            margin-top: 3rem;
        }
    }
    .mfp-learn-more-farmers {
        display: block;
        width: 100%;
        margin-top: 3rem;
        box-shadow: 0 0 0 -3px #B3B3B3;
        margin-bottom: 0;
        transition: box-shadow 0.4s linear, margin-bottom 0.4s linear;
        .mfp-learn-more-farmers-bounds {
            left: 0;
            right: 0;
            margin: auto;
            max-width: 1100px;
            @media screen and (max-width: 1100px) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .mfp-learn-more-farmers__trigger {
            text-align: left;
            cursor: pointer;
            color: $lightgreen;
            font-size: 19px;
            font-weight: bold;
            line-height: 22px;
            display: inline-block;
            position: relative;
            text-decoration: underline;
            padding-right: 20px;
            &:before {
                position: absolute;
                bottom: 8px;
                right: 5px;
                content: '';
                z-index: 5;
                width: 12px;
                height: 0;
                border-style: solid;
                border-color: $lightgreen;
                border-width: 2px;
                border-radius: 2px;
                transform: rotate(90deg);
            }
            &:after {
                position: absolute;
                bottom: 8px;
                right: 5px;
                content: '';
                z-index: 5;
                width: 12px;
                height: 0;
                border-style: solid;
                border-color: $lightgreen;
                border-width: 2px;
                border-radius: 2px;
            }
        }
        .mfp-learn-more-farmers__title {
            text-align: left;
            font-size: 19px;
            font-weight: bold;
            line-height: 22px;
            margin-top: 20px;
            user-select: none;
        }
        .mfp-learn-more-farmers__dropdown {
            height: 0;
            overflow: hidden;
            transition: height 0.4s linear;
            padding-left: 30px;
            padding-right: 30px;
            @media screen and (max-width: 1100px) {
                padding-left: 20px;
                padding-right: 20px;
            }
            .mfp-learn-more-farmers__content {
                h2 {
                    font-size: 30px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                p {
                    font-family: $source-sans;
                    margin-top: 0.8rem;
                    margin-bottom: 0.8rem;
                    color: $black;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 28px;
                    &.playbook-link {
                        font-weight: bold;
                        a {
                            position: relative;
                            padding-right: 30px;
                            img {
                                position: absolute;
                                right: 0px;
                                width: 25px;
                            }
                        }
                    }
                }
                text-align: left;
                color: $black;
                font-size: 19px;
                font-weight: 300;
                line-height: 22px;
                margin-bottom: 25px;
            }
        }
        &.active {
            box-shadow: 0 5px 3px -3px #B3B3B3;
            margin-bottom: 30px;
            .mfp-learn-more-farmers__trigger {
                &:before {
                    display: none;
                }
                &:after {
                    position: absolute;
                    bottom: 8px;
                    right: 5px;
                    content: '';
                    z-index: 5;
                    width: 12px;
                    height: 0;
                    border-style: solid;
                    border-color: $lightgreen;
                    border-width: 2px;
                    border-radius: 2px;
                }
            }
        }
    }
    .button-container {
        margin-bottom: 4rem;
        float: right;
        @media screen and (max-width: 600px) {
            float: none;
        }
    }
    .start-over-btn {
        font-size: 2rem;
        position: relative;
        font-family: "Source Sans Pro";
        font-weight: bold;
        width: 15%;
        text-transform: capitalize;
        padding: 1rem 4rem;
        border-radius: 5px;
        min-width: 120px;
        background-color: #fff;
        color: #1A6AD3;
        border: 1px solid #1A6AD3;
        text-decoration: none;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin-left: 0;
            margin-top: 1rem;
            display: block;
            text-align: center;
        }
    }
    .step-1-header,
    .step-2-header,
    .step-3-header,
    .step-4-header {
        font-size: 30px;
        font-weight: bold;
    }
    .step-4-review-header {
        font-size: 25px;
    }
    .text-count {
        font-size: 1.5rem;
    }
    .description {
        font-size: 1.5rem;
    }
    .tooltip-link {
        position: relative;
        bottom: 0.35rem;
        padding: .5rem .8rem .3rem .8rem;
        color: #212121;
        border-radius: 50%;
        border: 1px solid #212121;
        font-family: 'Merriweather', serif;
        font-size: 0.9rem;
        font-weight: bold;
        text-decoration: none;
        margin-left: 0.8rem;
        &:before {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.2rem;
        }
    }
    .step-4-hr {
        border-top: dotted 1px;
        margin-bottom: 3rem;
    }
    .hidden {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    input:disabled {
        background-color: #BBBBBB;
    }
    button:not(.trigger) {
        font-size: 2rem;
        position: relative;
        font-family: "Source Sans Pro";
        font-weight: bold;
        background-color: #1A6AD3;
        color: #fff;
        text-transform: capitalize;
        padding: 1rem 4rem;
        border-radius: 5px;
        min-width: 120px;
        width: 15%;
    }
    fieldset {
        margin-top: 2rem;
    }
    legend {
        >span.fieldset-legend {
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    h2 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    h3 {
        font-size: 3rem;
        margin-top: 2rem;
    }
    label {
        font-weight: normal;
    }
    hr {
        margin-bottom: 0;
    }
    th,
    td {
        border: none;
    }
    *:focus {
        outline-style: solid;
        outline-width: 2px;
        outline-offset: 3px;
        outline-color: #3e94cf
    }
    @media screen and (max-width: 800px) {
        p br {
            display: inline;
        }
    } // mobile
    @media screen and (max-width: 950px) {
        input {
            width: 100%;
        }
    }
    @media screen and (max-width: 760px) {
        /* Force table to not be like tables anymore */
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        tbody tr:nth-of-type(1) {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            margin: 0 0 1rem 0;
        }
        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 10%;
        }
        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
		Label the data
		*/
        td:nth-of-type(1):before {
            content: "Production Information";
            font-weight: bold;
        }
        td:nth-of-type(2):before {
            content: "Production Evidence";
            font-weight: bold;
        }
        td:nth-of-type(3):before {
            content: "Title/Relationship";
            font-weight: bold;
        }
    }
}