.simple-stepper {
  .question-and-answer {
    margin-left: 1rem;
    @media (max-width: $screen--S) {
      .start-over {
        margin-top: 1rem;
      }
    }
    .question {
      font-size: 1.8rem;
      line-height: 2.8rem;
    }
    .question-description p:first-of-type {
      margin-top: 1rem;
    }
  }
}

.question-number {
  .number-container {
    background: #fff;
    padding: 8px 0 8px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
  }
}
.number {
  display: block !important;
  z-index: 100 !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  background: $sweetgrass;
  font-size: 20px;
  font-weight: bold;
}
.input-row {
  display: flex;
  flex-direction: row;
  &.answered {
    .question-number {
      position: relative;
      display: flex;
      flex-direction: column;
      &:after {
        content: "";
        height: 100%;
        background: linear-gradient(#bbb, #bbb) no-repeat center/2px 100%;
      }
    }
    &:before {
      background: none;
    }
  }
}
