.question-number {
  .number-container {
    background: #fff;
    padding: 8px 0 8px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
  }
}
.number {
  display: block !important;
  z-index: 100 !important;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  background: $sweetgrass;
  font-size: 20px;
  font-weight: bold;
}
.input-row {
  display: flex;
  flex-direction: row;
  &.answered {
    .question-number {
      position: relative;
      &:after {
        position: absolute;
        height: 91%;
        content: "\00a0";
        width: 0.3rem;
        background: $grey3;
        left: 3.1rem;
        top: 5.5rem;
        @media (max-width: $screen--M) {
          height: 95%;
        }
      }
    }
    &:before {
      background: none;
    }
  }
}
