// Toast and alerts
.alert-wrapper {
  padding-top: 0;
  padding-bottom: 2.5rem;
}
.usa-alert {
  margin-top: 0;
  padding-top: 1.5rem;
  padding-bottom: 2.25rem;
  background-image: none;
  width: 100%;
  .usa-alert-body {
    width: 100%;
    padding-left: 0;
    font-size: 1.8rem;
    line-height: 2.8rem;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    a {
      float: none;
      color: $heritage !important;
    }
    p {
      margin: 0;
      font-family: "Public Sans", sans-serif;
      padding-left: 0;
      padding-right: 0.5rem;
      padding-top: 0;
      &:empty {
        display: none;
      }
      a {
        float: none;
      }
    }
    .usa-alert-text {
      padding-top: 10px;
      padding-left: 5rem;
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 0;
      }
    }
  }
}
.usa-alert-info {
  background-color: #e2eeff;
  border-left: 1rem solid $bigsky;
  &:before {
    background-color: $bigsky;
  }
}
.usa-alert-warning {
  background-color: $softyellow;
  border-left: 1rem solid #fdb81e;
}

.usa-alert-success {
  background-color: #dbede0;
  border-left: 1rem solid $sweetgrass;
}
.usa-alert-error {
  background-color: #f9dede;
  border-left: 1rem solid #e31c3d;
}
.usa-alert-warning,
.usa-alert-success,
.usa-alert-info,
.usa-alert-error {
  .usa-alert-body {
    background-image: image("alerts/info-icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 9px 11px;
  }
}
