// Toast and alerts
.alert-wrapper {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.usa-alert {
  padding-top: 1.5rem;
  padding-bottom: 2.25rem;
  background-image: none;
  width: 100%;
  .usa-alert-body {
    display: flex;
    width: 100%;
    padding-left: 2rem;
    @media (max-width: 600px) {
      flex-direction: column;
    }
    a {
      float: none;
      color: $heritage;
    }
    .usa-alert-heading {
      display: none;
    }
    p {
      margin: 0;
      font-family: "Source Sans Pro",sans-serif;
      padding-left: 3.1rem;
      padding-right: .5rem;
      padding-top: .75rem;
      &:empty {
        display: none;
      }
      a {
        float: none;
      }
    }
    .usa-alert-text {
      padding-top: 10px;
    }
    .usa-alert-link {
      color: $bigsky;
      text-transform: uppercase;
      font-weight: 700;
      text-decoration: none;
      font-size: 16px;
      margin-left: auto;
      padding-right: 24px;
      padding-top: 10px;
    }
  }
}
.usa-alert-error {
  background-color: #f9dede;
  background-image: image('alerts/info-icon.svg');
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: 30px 22px;
}
.usa-alert-info {
  background-color: #E2EEFF;
  &:before {
    background-color: $bigsky;
  }
}
.usa-alert-warning {    
  background-color: $softyellow;
  border-left: $yellow 0.8rem solid;
  a {
    color: $bigsky !important;
  }
}
.usa-alert-warning, .usa-alert-success, .usa-alert-info {
  .usa-alert-body {
    background-image: image('alerts/info-icon.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 9px 11px;
  }
}