// BUTTONS

// Primary Buttons
.btn,
input.btn {
  background-color: $blue;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 #bbbbbb;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: $public-sans;
  font-size: 1.6rem;
  font-weight: bold;
  height: inherit;
  line-height: 2rem;
  margin: 0;
  min-width: 13.4rem;
  padding: 1.1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: auto;

  @media (max-width: $screen--S) {
    width: 100%;
  }

  &:hover {
    background-color: $hover;
    color: #ffffff;
  }
  &:active {
    background-color: $active;
    color: #ffffff;
  }
  &:visited {
    color: #ffffff;
  }
  &:focus {
    background-color: $focus;
    box-shadow: 0 1px 4px 0 $focus;
    color: #ffffff;
    outline: none !important;
  }
  &:disabled,
  &.disabled {
    background-color: $disabled;
    box-shadow: none;
    color: #ffffff;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
  &.hover-color {
    background-color: $hover;
    box-shadow: 0 1px 4px 0 $hover;
    color: #ffffff;
    outline: none !important;
  }
  &.active-color {
    background-color: $active;
    box-shadow: 0 1px 4px 0 $active;
    color: #ffffff;
    outline: none !important;
  }
  &.focus-color {
    background-color: $focus;
    box-shadow: 0 1px 4px 0 $focus;
    color: #ffffff;
    outline: none !important;
  }
  &.sm-btn {
    min-width: 9.6rem;
    padding: 0.6rem;
  }
  &.lg-btn {
    font-size: 2rem;
    min-width: 21.6rem;
    padding: 1.6rem;
  }
}

// Secondary Buttons
.btn.outline {
  background-color: #fff;
  border: 1px solid $blue;
  color: $blue;

  &:hover {
    border: 1px solid $hover;
    color: $hover;
  }
  &:active {
    border: 1px solid $active;
    color: $active;
  }
  &:focus {
    box-shadow: 0 1px 4px 0 $focus;
    color: $focus;
    outline: none !important;
  }
  &:disabled,
  &.disabled {
    border: 1px solid $disabled;
    background-color: $disabled;
    box-shadow: none;
    color: $white;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
  &.outline-hover-color {
    background-color: #fff !important;
    border: 1px solid $hover !important;
    color: $hover !important;
  }
  &.outline-active-color {
    background-color: #fff !important;
    border: 1px solid $active !important;
    color: $hover !important;
  }
  &.outline-focus-color {
    background-color: #fff !important;
    border: 1px solid $focus !important;
    color: $hover !important;
  }
  &.disabled {
    border: 1px solid $disabled;
    box-shadow: none;
    color: $white;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
}

// Tertiary Buttons
.btn.tertiary {
  background-color: #fff0 !important;
  border: none;
  box-shadow: none;
  color: $blue;
  padding: 0.5rem 1.1rem;
  min-width: auto;
  @media (max-width: $screen--S) {
    padding-left: 0;
    width: auto;
  }

  &:hover {
    border: none;
    color: $hover;
  }
  &:active {
    border: none;
    color: $active;
  }
  &:focus {
    border: none;
    box-shadow: 0 1px 4px 0 $focus;
    color: $focus;
    outline: none !important;
  }
  &:disabled,
  &.disabled {
    border: none;
    box-shadow: none;
    color: $disabled;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
  &.hover-color {
    border: none;
    color: $hover;
  }
  &.active-color {
    border: none;
    color: $active;
  }
  &.focus-color {
    border: none;
    box-shadow: 0 1px 4px 0 $focus;
    color: $focus;
  }
  &.disabled {
    border: none;
    box-shadow: none;
    color: $disabled;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
}

// Feedback Buttons
.btn.feedback {
  background-color: #fff0 !important;
  border: 2px solid $blue;
  border-radius: 50%;
  color: $blue;
  min-width: 6.4rem;
  min-height: 6.4rem;

  &.plus,
  &.minus {
    width: 2rem;
    height: 2rem;
    min-width: auto;
    min-height: auto;
    padding: 0 0.5rem !important;
    position: relative;
    display: flex;
    margin: 0.2rem 1rem 0 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $bigsky;
      box-shadow: 1px 1px 1px #ffffff9e;
    }

    &:before {
      width: 2px;
      margin: 3px auto;
    }

    &::after {
      margin: auto 3px;
      height: 2px;
      box-shadow: none;
    }
  }

  &.minus {
    &:before {
      background: $bigsky;
      margin: auto 3px;
      height: 2px;
      box-shadow: 0px 1px 1px #ffffff9e;
    }
  }

  &:hover {
    border: 2px solid $hover;
    color: $hover;
  }
  &:active {
    border: 2px solid $active;
    color: $active;
  }
  &:focus {
    border: 2px solid $active;
    box-shadow: 0 1px 4px 0 $focus;
    color: $focus;
    outline: none !important;
  }
  &:disabled,
  &.disabled {
    border: 2px solid $disabled;
    box-shadow: none;
    color: $disabled;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
  &.hover-color {
    border: 2px solid $hover;
    color: $hover;
  }
  &.active-color {
    border: 2px solid $active;
    color: $hover;
  }
  &.focus-color {
    border: 2px solid $focus;
    color: $hover;
  }
  &.disabled {
    border: 2px solid $disabled;
    box-shadow: none;
    color: $disabled;
    cursor: not-allowed;
    &:focus {
      outline: none;
    }
  }
}

a.btn {
  &:hover,
  &:visited:hover {
    text-shadow: none !important;
    -webkit-text-stroke: unset !important;
  }
}
