.card {
  border-radius: 2px;
  box-shadow: 0 3px 14px 0 #D8D8D8;
}

.content-card {
  background: #FFFFFF;
  box-shadow: 0 .1rem .4rem 0 #BBBBBB;
  border-radius: .2rem;
  padding: 2rem;

  .img {
    max-width: 6.397rem;
    margin-bottom: 1.6rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .headline {
    border-bottom: .4rem solid $heritage;
    h4 {
      padding-bottom: .6rem;
    }
  }

  .content {
    p {
      margin-top: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &.accent-top {
    border-top: .6rem solid $heritage;
    border-radius: .2rem .2rem 0 0;
    .content {
      p {
        margin-top: .8rem;
      }
    }
    .img {
      max-width: 7.197rem;
      margin-bottom: 1.6rem;
    }

    .headline {
      border-bottom: none;
      h4 {
        padding-bottom: 0;
      }
    }
  }
}

.resource-card {
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 #BBBBBB;
  border-radius: 2px;
  border-top: .6rem solid #006546;
  padding: 3.2rem 2rem;


  .logo {
    max-width: 8rem;
    margin-bottom: 1.6rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .link {
    a {
      color: $heritage;
      cursor: pointer;
      font-family: 'Public Sans';
      font-size: 20px;
      line-height: 26px;
      text-decoration: underline;
      font-weight: bold;
      margin-bottom: .8rem;
      &:hover, &.hover {
        color: $sweetgrass;
        text-shadow: 0 0 0px #fff0;
        -webkit-text-stroke: 0 #fff0;
      }
      &:focus, &.focus {
        color: $sweetgrass;
      }
      &:visited, &.visited {
        color: $visited;
      }
    }
  }

  .content {
    p {
      margin: 0;
    }
  }
  &:hover, &.hover {
    box-shadow: 0 4px 16px 0 #BBBBBB;
  }
}
