.card {
  border-radius: 2px;
  box-shadow: 0 3px 14px 0 #d8d8d8;
  background: #fff;
  &:focus {
    border: 0;
    outline: 2px solid $focus;
  }
}

.content-card {
  background: #ffffff;
  box-shadow: 0 0.1rem 0.4rem 0 #bbbbbb;
  border-radius: 0.2rem;
  padding: 2rem;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.3rem;
  }

  .img {
    max-width: 6.397rem;
    margin-bottom: 1.6rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .headline {
    border-bottom: 0.4rem solid $heritage;
    h4 {
      padding-bottom: 0.6rem;
    }
  }

  .content {
    p {
      margin-top: 1.4rem;
      margin-bottom: 1.6rem;
    }
  }

  &.accent-top {
    border-top: 0.6rem solid $heritage;
    border-radius: 0.2rem 0.2rem 0 0;
    .content {
      p {
        margin-top: 0.8rem;
      }
    }
    .img {
      max-width: 7.197rem;
      margin-bottom: 1.6rem;
    }

    .headline {
      border-bottom: none;
      h4 {
        padding-bottom: 0;
      }
    }
  }
}

.resource-card {
  background: #ffffff;
  box-shadow: 0 1px 4px 0 #bbbbbb;
  border-radius: 2px;
  border-top: 0.6rem solid #006546;
  padding: 2.6rem 2rem 3.2rem 2rem;

  .logo {
    max-width: 8rem;
    margin-bottom: 1rem;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .link {
    a {
      color: $heritage;
      cursor: pointer;
      font-family: "Public Sans";
      font-size: 20px;
      line-height: 26px;
      text-decoration: underline;
      font-weight: bold;
      margin-bottom: 0.8rem;
      &:hover,
      &.hover {
        color: $sweetgrass;
        text-shadow: 0 0 0px #fff0;
        -webkit-text-stroke: 0 #fff0;
      }
      &:focus,
      &.focus {
        color: $sweetgrass;
      }
      &:visited,
      &.visited {
        color: $visited;
      }
    }
  }

  .content {
    p {
      margin: 0.5rem 0 0 0;
    }
  }
  &:hover,
  &.hover {
    box-shadow: 0 4px 16px 0 #bbbbbb;
  }
}

.field--name-field-subcat-grids .field__item {
  border-bottom: 1px solid #ededed;
}
.field--name-field-subcat-grids .field__item:last-of-type {
  border-bottom: none;
}
.field--name-field-subcat-card-blocks .field__item {
  border-bottom: none;
}
.subcategory-card-grid {
  padding-bottom: 5rem;
  .subcategory.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .medium-4.subcategory-row {
    padding-left: 0px;
  }
  .medium-8.subcategory-row {
    padding-right: 0px !important;
    @media screen and (max-width: 768px) {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
}
.subcategory-card-block {
  text-decoration: none;
  display: block;
  position: relative;
}
a.subcategory-card-block:hover,
a.subcategory-card-block:focus {
  background-color: #dbede0;
  outline: 2px solid #006546;
  text-shadow: unset;
  -webkit-text-stroke: unset;
  @media screen and (max-width: 768px) {
    background-color: #fff;
    outline: 2px solid #fff;
  }
}
.field--name-field-subcategory-image.field--type-image img {
  flex: 0 0 auto;
  width: 34.6rem;
  height: 14.4rem;
  object-fit: cover;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.subcategory-block-link {
  color: #006546;
  font-family: "Public Sans";
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.8rem;
  text-decoration: underline;
  display: inline;
  font-weight: 600;
}
.subcategory-block-text {
  color: #212121;
  font-family: "Public Sans";
  font-size: 18px;
  letter-spacing: 0;
  line-height: 2.8rem;
  display: inline;
}
.subcategory-block-inner {
  width: 100%;
  padding: 1.2rem 2rem 1.2rem 2rem;
}
