// DIVIDERS

// Tool Dividers
.double-line {
  margin: 2rem 0;
  height: 10px;
  width: 100%;
  border-top: 2px solid $grey3;
  border-bottom: 2px solid $grey3;
}

// Primary Divider
.divider-line {
  border-bottom: none !important;
  max-width: 100%;
  margin: 35px auto;
  text-align: center;
  @include mobile-mix("iPhone") {
    margin: 45px auto 35px auto;
  }
  // Line without leaves image
  &.no-leaves {
    &:after {
      background-image: none;
      background-color: #fff0;
    }
  }
  &:before {
    border-bottom: 1px solid #49a564;
    content: "";
    height: 1px;
    width: 100%;
    display: flex;
  }
  &:after {
    content: "";
    position: absolute;
    margin-top: -13px;
    margin-left: -25px;
    background-color: #fff;
    background-image: image("leaves.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 14px;
    width: 5rem;
    height: 2.2rem;
  }
}

// Secondary Divider
.divider-dot {
  border-bottom: 1px dotted #bbb;
  margin: 35px auto;
  width: 100%;
}

.divider-solid {
  border-bottom: 1px solid #bbb;
  margin: 35px auto;
  width: 100%;
}

.divider-solid-light {
  border-bottom: 1px solid $grey2;
  margin: 35px auto;
  width: 100%;
}
