footer {
  @media (max-width: $screen--L) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .footer-primary-section {
    background: #f1f1f1;
    @media (max-width: $screen--M) {
      .medium-12,
      > .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .footer-site-nav {
      display: flex;
      align-items: center;
      height: 8rem;
      @media (max-width: $screen--M) {
        height: auto;
      }
      ul {
        display: flex;
        padding-left: 0;
        margin-top: 17px;
        list-style-type: none;
        @media (max-width: $screen--M) {
          flex-direction: column;
          width: 100%;
          margin-top: 0;
          margin-bottom: 0;
        }
        li {
          font-size: 1.6rem;
          font-weight: bold;
          padding-right: 4rem;
          margin-bottom: 0;
          @media (max-width: $screen--M) {
            display: flex;
            align-items: center;
            height: 6.7rem;
            border-bottom: 1px solid $grey3;
            padding-right: 0;
            padding-left: 2rem;
          }
          a {
            color: $asphalt;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              text-shadow: none;
              -webkit-text-stroke: inherit;
            }
          }
        }
      }
    }
  }
  .footer-links-container {
    display: flex;
  }
  .footer-secondary-section {
    background: $grey1;
    padding-top: 24px;
    .footer-links-nav {
      display: flex;
      @media (max-width: $screen--S) {
        flex-direction: column;
        ul {
          padding-left: 1rem;
          margin-bottom: 0;
        }
        ul:last-of-type {
          // accomadate for the spacing between the last row of the primary link to the logo
          margin-bottom: 24px;
        }
      }
      ul {
        padding-left: 0;
        flex-grow: 1;
        flex-basis: 0;
        margin-top: 0;
        list-style-type: none;
        li {
          line-height: 22px !important;
          margin-bottom: 12px;
          padding-right: 24px;
          a {
            font-size: 1.4rem;
            color: $asphalt;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
              text-shadow: none;
              -webkit-text-stroke: inherit;
            }
          }
        }
      }
    }
    .footer-logo {
      display: flex;
      justify-content: center;
      img {
        width: 12rem;
        height: auto;
      }
    }
  }
  .footer-tertiary-section {
    background: $grey1;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
    > .container {
      padding-left: 0;
      padding-right: 0;
    }
    .footer-branding {
      display: flex;
      padding-left: 0;

      .agency-logo {
        margin-left: 0;
        @media (max-width: 768px) {
          padding: 3rem 0;
        }
        .agency-link {
          display: flex;
          color: $asphalt;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            text-shadow: none;
            -webkit-text-stroke: inherit;
          }
          img {
            width: 4.5rem;
            height: auto;
            margin-right: 1rem;
          }
          .agency-name {
            font-size: 2rem;
            .tagline {
              font-size: 1.2rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .footer-social {
      display: flex;
      justify-content: space-between;
      width: 22.4rem;
    }
  }
}
.social-link {
  height: 3.2rem;
  min-width: 3.2rem;
  text-decoration: none;
}
.twitter-link {
  background: image("social-icons/outline/svg/twitter-outline.svg") no-repeat;
}
.facebook-link {
  background: image("social-icons/outline/svg/facebook-outline.svg") no-repeat;
}
.instagram-link {
  background: image("social-icons/outline/svg/instagram-outline.svg") no-repeat;
}
.flickr-link {
  background: image("social-icons/outline/svg/flickr-outline.svg") no-repeat;
}
.youtube-link {
  background: image("social-icons/outline/svg/youtube-outline.svg") no-repeat;
}
