.callout-button {
  background: #fff;
  height: 48px;
  vertical-align: middle;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 14px 0 #d8d8d8;
  width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: block;
    font-weight: Bold;
    font-size: 16px;
    line-height: 20px;
    padding: 1.6rem;
    color: $asphalt;
    text-decoration: none;
    width: 100%;
    text-align: center;
    &:hover {
      text-shadow: 0 0 0.08rem #fff0;
      -webkit-text-stroke: 1px #fff0;
    }
    .arrow {
      border: solid $asphalt;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 4px;
      color: $asphalt;
      margin-left: 1px;
      top: -1px;
      position: relative;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }    
  }
}

// Search field in header
#search-field {
  display: inline-flex;
  margin-bottom: 0;
  position: relative;
  background-color: $heritage;
  form.search {
    margin: 1.5rem 2rem;
  }
  [type="search"] {
    font-family: $public-sans;
    display: block;
    color: $asphalt;
    width: calc(100% - 4.5rem);
    max-width: 46rem;
    outline: 0;
    padding: 1rem .7em;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    float: left;
    font-size: 1.4rem;
    height: 3.3rem;
    margin: 0;
    line-height: 22px;
  }
  [type="submit"] {
    background-image: url(../images/search.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $grey1;
    width: 4.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 3.3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }
  div[role="search"] {
    max-width: 21.6rem;
    .usa-sr-only {
      position: absolute;
      left: -999em;
    }
  }
}