.header-button {
  float: right;
  margin-top: -20px;
  height: 48px;
  vertical-align: middle;
  border-radius: 0 0 2px 2px;
  background-color: $white;
  box-shadow: 0 3px 14px 0 #d8d8d8;
  width: 216px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-button a {
  display: block;
  font-weight: Bold;
  font-size: 16px;
  line-height: 20px;
  padding: 1.6rem;
  color: $asphalt;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.header-button a:hover {
  text-shadow: 0 0 0.08rem #fff0;
  -webkit-text-stroke: 1px #fff0;
}
.header-button a .arrow {
  border: solid $asphalt;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  color: $asphalt;
  margin-left: 1px;
  top: -1px;
  position: relative;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
@media screen and (max-width: 1000px) {
  .header-button {
    display: none;
  }
}

// Search field in header
#search-field {
  display: flex;
  margin-bottom: 0;
  background-color: $heritage;

  form.search {
    margin: 1.5rem 2rem;
  }
  [type="search"] {
    font-family: $public-sans;
    display: block;
    color: $asphalt;
    width: calc(100% - 4.5rem);
    max-width: 46rem;
    outline: 0;
    padding: 1rem 0.7em;
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
    box-sizing: border-box;
    float: left;
    font-size: 1.4rem;
    height: 3.3rem;
    margin: 0;
    line-height: 22px;
  }
  [type="submit"] {
    background-image: image("search.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: $grey1;
    width: 4.5rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 3.3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }
  div[role="search"] {
    max-width: 21.6rem;
    display: flex;
  }
}
.main-header {
  .skip-nav {
    background: transparent;
    color: $asphalt;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: -4.2rem;
    transition: all 0.2s ease-in-out;
    z-index: 100;

    &:focus {
      background: #fff;
      left: 0;
      outline: 0;
      position: absolute;
      top: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  .header-inner-wrap {
    position: relative;
    height: 80px;
    padding-top: 1.5rem;

    & > div {
      display: flex;
      justify-content: space-between;

      .agency-banner {
        margin-left: 0;
        display: flex;
      }
    }

    .header-button {
      position: absolute;
      right: 7px;
      top: 0;
      z-index: 1;
      background-color: $white;
    }
  }
}

.utility-nav {
  display: flex;

  .utility-nav-links {
    margin-top: 3.2rem;
    margin-right: 0.7rem;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
  }
}

.agency-banner {
  a.agency-logo-text {
    text-decoration: none;
    color: $asphalt;
    &:hover {
      color: $asphalt;
      text-shadow: none;
      -webkit-text-stroke: inherit;
    }
  }
  img {
    height: 45px;
  }
  .agency-logo {
    margin-right: 12px;
  }
}

.agency-identity {
  .agency-name {
    float: left;
    font-size: 2rem;
    font-weight: 500;
  }
  .tagline {
    float: left;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.35rem;
    margin-top: 4px;
  }
}

.primary-nav-wrap {
  background: $heritage;
  height: 64px;
  position: relative;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  #search-field {
    form.search {
      margin: 0;
    }
  }
}
