@use "../../../farmers-gov-design-system/scss/path-helper" as DSPathHelper;

.icon {
  width: 4.4rem;
  height: 4.4rem;
  display: inline-flex;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  &.caret-right {
    background-image: DSPathHelper.image("caret-right.svg");
  }
  &.search {
    background-image: DSPathHelper.image("search.svg");
  }
  &.chevron-up {
    background-image: DSPathHelper.image("chevron-up.svg");
    transform: rotateX(180deg);
  }
  &.chevron-down {
    background-image: DSPathHelper.image("chevron-down.svg");
  }
  &.close {
    background-image: DSPathHelper.image("close.svg");
  }
  &.external-link {
    background-image: DSPathHelper.image("external-link.svg");
  }
  &.accordion-expand {
    background-image: DSPathHelper.image("accordion-expand.svg");
  }
  &.accordion-collapse {
    background-image: DSPathHelper.image("accordion-collapse.svg");
  }
  &.popover {
    background-image: DSPathHelper.image("popover.svg");
  }
  &.info {
    background-image: DSPathHelper.image("info.svg");
  }
  &.mail {
    background-image: DSPathHelper.image("mail.svg");
  }
  &.print {
    background-image: DSPathHelper.image("print.svg");
  }
  &.location {
    background-image: DSPathHelper.image("location.svg");
  }
  &.phone {
    background-image: DSPathHelper.image("Phone.svg");
  }
  &.globe {
    background-image: DSPathHelper.image("globe.svg");
  }
}
.header-icon {
  display: flex;
  &.globe:before {
    content: "";
    display: inline-block;
    background-image: DSPathHelper.image("globe.svg");
    background-repeat: no-repeat;
  }
}
h1.header-icon.globe:before,
.headline-1.header-icon.globe:before {
  padding-right: 5.5rem;
  width: 5rem;
  height: 5rem;
  background-position: 0 0.4rem;
  background-size: 4rem;
}
h2.header-icon.globe:before,
.headline-2.header-icon.globe:before {
  padding-right: 5rem;
  width: 4rem;
  height: 4rem;
  background-position: 0 0.3rem;
  background-size: 3.5rem;
}
h3.header-icon.globe:before,
.headline-3.header-icon.globe:before {
  padding-right: 4.3rem;
  width: 3.5rem;
  height: 3.5rem;
  background-position: 0 0.1rem;
  background-size: 3rem;
}
h4.header-icon.globe:before,
.headline-4.header-icon.globe:before {
  padding-right: 3.5rem;
  width: 2.4rem;
  height: 2.7rem;
  background-position: 0 0.1rem;
  background-size: 2.4rem;
}
h5.header-icon.globe:before,
.headline-5.header-icon.globe:before {
  padding-right: 2.8rem;
  width: 2rem;
  height: 2rem;
  background-position: 0 0.1rem;
  background-size: 1.8rem;
}
h6.header-icon.globe:before,
.headline-6.header-icon.globe:before {
  padding-right: 2.5rem;
  width: 2rem;
  height: 2rem;
  background-position: 0 0.1rem;
  background-size: 1.5rem;
}
.outline-icon {
  width: 8rem;
  height: 8rem;
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  &.farmer {
    background-image: DSPathHelper.image("farmer.svg");
  }
  &.mfp {
    background-image: DSPathHelper.image("mfp.svg");
  }
  &.land {
    background-image: DSPathHelper.image("land.svg");
  }
  &.barn {
    background-image: DSPathHelper.image("barn.svg");
  }
}
