@mixin text-link-psuedo {
  &:visited,
  &.visited {
    color: $visited;
    &:hover,
    &.hover {
      color: $dkblue;
      text-shadow: 0 0 0px $dkblue;
      -webkit-text-stroke: 0 $dkblue;
    }
  }
  &:hover,
  &.hover {
    color: $sweetgrass;
    text-shadow: 0 0 0px #fff0;
    -webkit-text-stroke: 0 #fff0;
  }
  &:focus,
  &.focus {
    color: $sweetgrass;
  }
}

a {
  color: $heritage;
  text-decoration: underline;
  cursor: pointer;
  &:visited,
  &.visited {
    color: $visited;
    &:hover,
    &.hover {
      text-shadow: 0 0 0.08rem $visited;
      -webkit-text-stroke: 1px $visited;
    }
  }
  &:hover,
  &.hover {
    text-shadow: 0 0 0.08rem $heritage;
    -webkit-text-stroke: 1px $heritage;
  }
  &:focus,
  &.focus {
    outline-width: 0px;
    outline-offset: 3px;
    outline-color: $focus;
    box-shadow: 0px 0px 4px $focus;
  }
}

.text-link {
  display: block;
  color: $heritage;
  cursor: pointer;
  font-family: "Public Sans";
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: underline;
  padding-right: 2.5rem;
  &:after {
    content: "\00A0";
    display: inline-block;
    position: relative;
    margin-right: -4rem;
    right: 1.5rem;
    height: 4rem;
    width: 4rem;
    background: image("caret-right.svg") no-repeat 99.5% 0.4rem;
    background-size: 2rem;
  }
  @include text-link-psuedo;
}

.external-link {
  display: block;
  color: $heritage;
  font-size: 2rem;
  font-weight: 700;
  padding-right: 1.5rem;
  &:after {
    content: "\00A0";
    display: inline-block;
    position: relative;
    margin-right: -4rem;
    height: 2rem;
    width: 1.6rem;
    background: image("external-link-icon.svg") no-repeat;
    background-position: right 0.9rem;
    background-size: 1.2rem;
  }
  @include text-link-psuedo;
}

.anchor-link {
  display: flex !important;
  padding-right: 1.5rem;
  display: inline-block;
  margin-right: 1rem;
  font-size: 18px;
  white-space: normal;
  span {
    display: block;
    overflow: hidden;
  }
  a {
    display: inline-block;
    white-space: normal;
    max-width: 91%;
  }
  &:before {
    content: "";
    cursor: pointer;
    display: inline-block;
    flex-shrink: 0;
    vertical-align: top;
    background: image("leaves.svg") no-repeat;
    width: 18px;
    height: 26px;
    float: left;
    background-position: center center;
    margin-right: 1rem;
  }
  &:visited,
  &.visited {
    color: $visited;
  }
  &:hover,
  &.hover {
    color: $sweetgrass;
    text-shadow: 0 0 0.08rem $heritage;
    -webkit-text-stroke: 1px $heritage;
  }
  &:focus,
  &.focus {
    color: $sweetgrass;
    outline-width: 0px;
    outline-offset: 3px;
    outline-color: $focus;
    box-shadow: 0px 0px 4px $focus;
  }
}
