@import "./table-vars";

@mixin cell-border {
  border-color: $grey3;
  border-style: solid;
}

@media (max-width: $screen--S) {
  table {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .simple-table {
    display: block;
    width: 100%;
    @include cell-border;
    border-width: 0 0 4px 0;
    tbody {
      display: block;
      width: 100%;
    }
    tr {
      display: flex;
      flex-direction: column;
      background-color: $white !important;
      th:not(:last-child),
      td:not(:last-child) {
        border-right: $table-cell-border-top;
      }
      th {
        display: none;
      }
      td {
        &:first-of-type {
          @include cell-border;
          border-width: 4px 1px 1px 1px;
          background: #efefef;
          padding-bottom: 2rem;
        }
        &:before {
          content: attr(data-th);
          display: block;
          font-weight: 700;
          padding: 1rem 0;
        }
      }
    }
  }

  .complex-table {
    // @include always-show-vertical-scrollbar;
    td {
      background: $white;
      display: table-cell;
      min-width: 65vw;
    }
  }

  .mobile-static-column {
    @media (max-width: $screen--S) {
      -webkit-overflow-scrolling: touch;
      td {
        display: table-cell;
        min-width: 75vw;
      }
      tr:nth-child(odd) > td {
        background: $white;
      }
      tr:nth-child(even) > td {
        background: $grey2;
      }
      tr > th:first-child,
      tr > td:first-child {
        display: table-cell;
        position: -webkit-sticky;
        position: sticky;
        box-shadow: 2px 16px 16px 2px $grey3;
        top: 0;
        left: 0;
        z-index: 100;
        min-width: 16rem;
        word-wrap: break-word;
      }
      tr > th:first-child {
        display: table-cell;
        background: $grey2;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 1;
        word-wrap: break-word;
      }
    }
  }
}
