@use '../../../farmers-gov-design-system/scss/grid/variables' as DSGridVars;
@use '../../../farmers-gov-design-system/scss/elements/colors' as DSColors;
@use "../mixins/_mobile-tables-mixins" as DSMobileTableMixins;

@media (max-width: DSGridVars.$screen--M) {
  table {
    visibility: hidden;
  }
  .show-on-mobile {
    visibility: visible;
  }
  .simple-table:not(.table-minimal) {
    @include DSMobileTableMixins.simple-table-mobile;
  }
  .complex-table {
    @include DSMobileTableMixins.complex-table-mobile;
  }
}

.show-simple-mobile-table {
  @include DSMobileTableMixins.simple-table-mobile;
}

.show-complex-mobile-table {
  @include DSMobileTableMixins.complex-table-mobile;
  width: fit-content;
  td {
    max-width: 60px;
    min-width: 60px;
  }
}

div.mobile-static-column-container {
  @media screen and (max-width: DSGridVars.$screen--M) {
    overflow: auto;
    width: 100%;

    table.show-mobile-static-column,
    table.mobile-static-column {
      table-layout: fixed;
      width: fit-content;
      border-collapse: separate;
      border-spacing: 0;

      td:first-child,
      th:first-child {
        border-left: 1px solid DSColors.$grey3;
        position: sticky;
        left: 0;
        z-index: 1;
        box-shadow: 8px 2px 10px -2px DSColors.$grey3;
      }
      tr th {
        background-color: DSColors.$grey2;
      }
      tr:nth-child(even) td {
        background-color: DSColors.$grey1;
      }

      tr:nth-child(odd) td {
        background-color: DSColors.$white;
      }
      thead tr th {
        position: sticky;
        top: 0;
        min-width: 16rem;
        max-width: 16rem;
        word-wrap: break-word;
      }
      &.full-width {
        display: block;
      }
    }
  }
}
