@import "./table-vars";
@import "../mixins/_mobile-tables-mixins";

@media (max-width: $screen--M) {
  table {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .simple-table:not(.table-minimal) {
    @include simple-table-mobile;
  }
  .complex-table {
    @include complex-table-mobile;
  }

  @include mobile-static-column;
}

.show-simple-mobile-table {
  @include simple-table-mobile;
}

.show-complex-mobile-table {
  @include complex-table-mobile;
  width: fit-content;
  td {
    max-width: 60px;
    min-width: 60px;
  }
}

.show-mobile-static-column {
  @include mobile-static-column;
}
