@import "./table-vars";
// Table styling.
// Removes default browser settings
table {
  font-size: 1.8rem;
  margin-bottom: $table-margin-bottom;
  border-collapse: collapse;
  border-top: $table-cell-border-top;
  overflow-x: auto;
  max-width: 100%;
  width: fit-content;
  border-radius: $table-bordered-border-radius;
  caption {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
  }
  // tr:first-child {
  //   th {
  //     border-top: $table-cell-border-top;
  //   }
  // }
  tr:last-child {
    th,
    td {
      border-bottom: $table-cell-border-top;
    }
  }
  thead {
    background-color: $table-header-background-color;
    font-weight: $table-header-font-weight;
    border-top: none;
    tr {
      background-color: $table-header-background-color;
      border-top: none;
      td {
        font-weight: $table-header-font-weight;
        border-top: none;
        padding: $table-cell-padding;
      }
    }
  }
  thead:not(:first-child) th {
    border-top: none;
  }
  th,
  td {
    padding: $table-cell-padding-top-bottom $table-cell-padding-left-right;
    text-align: $table-cell-text-align;
    border-left: $table-cell-border-top;
    border-bottom: $table-cell-border-top;
    vertical-align: top;
    &:first-child {
      border-left: $table-cell-border-top;
    }
  }
  th {
    font-weight: $table-header-font-weight;
  }
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: text-top;
  }
  td:last-child,
  th:last-child {
    border-right: $table-cell-border-top;
  }
  tbody + tbody {
    border-top: $table-body-border-top;
  }
  tbody {
    tr:nth-child(even) {
      background-color: #f7f7f7;
    }
    th:first-child {
      border-top: none;
    }
    th {
      background-color: $table-subheader-background-color;
    }
  }
}

// Adds border-top between two table-body sections.
table tbody + tbody,
.table tbody + tbody,
%table tbody + tbody {
  border-top: $table-body-border-top;
}

// Adds zebra striping to the table {
.striping {
  tbody {
    tr:nth-child(even) {
      background-color: $grey1;
    }
  }
  td,
  th {
    border-top: none;
  }
}

// Reduces cell padding
.table-condensed th,
%table-condensed th,
.table-condensed td,
%table-condensed td {
  padding: $table-condensed-padding;
}

// Adds borders and border-radius.
.table-bordered,
%table-bordered {
  border: $table-bordered-border;
  border-radius: $table-bordered-border-radius;
}

.table-bordered th + th,
%table-bordered th + th,
.table-bordered td + td,
%table-bordered td + td,
.table-bordered th + td,
%table-bordered th + td,
.table-bordered td + th,
%table-bordered td + th {
  border-left: $table-border-left;
}

.table-bordered thead:first-child tr:first-child th,
%table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
%table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td,
%table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
%table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
%table-bordered tbody:first-child tr:first-child td:first-child {
  border-radius: $table-bordered-child-radius 0 0 0;
}

.table-bordered thead:first-child tr:first-child th:last-child,
%table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child,
%table-bordered tbody:first-child tr:first-child td:last-child {
  border-radius: 0 $table-bordered-child-radius 0 0;
}

.table-bordered thead:last-child tr:last-child th:first-child,
%table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
%table-bordered tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 $table-bordered-child-radius;
}

.table-bordered thead:last-child tr:last-child th:last-child,
%table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
%table-bordered tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 $table-bordered-child-radius 0;
}

.complex-table td {
  background: $white;
}

.table-minimal {
  display: block !important;
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  overflow-x: visible;
  tbody {
    tr {
      display: table-row;
      border-top: 1px solid #bbb !important;
      background: $white !important;
      @media (max-width: $screen--S) {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
      }
      td {
        vertical-align: top;
        border: none;
        line-height: 28px;
        background: $white !important;

        @media (max-width: $screen--S) {
          width: 100% !important;
          padding-top: 3rem !important;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}
