.usa-header.usa-header-extended {
  .usa-banner-header {
    p {
      font-size: 1.2rem;
      font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      @media screen and (max-width: 350px) {
        top: .8rem;
      }
    }
  }
}

.usa-nav-primary li > a {
  font-family: $source-sans;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.3rem 3rem 1.7rem;
  border-left: none;
  color: #ffffff;
  font-weight: normal;
  padding-left: 3rem;
  &:hover, &:focus, &:active {
    background-color: transparent;
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-primary .usa-current, .usa-nav-primary a.usa-current {
    font-family: $source-sans;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2.3rem 3rem 1.7rem;
    &:hover, &:focus, &:active {
      background-color: transparent;
    }
  }
}

.usa-nav {
  .usa-nav-inner {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .usa-nav-primary {
    li:first-of-type {
      margin-left: 0;
      a {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 951px) {
  .usa-header-extended .usa-nav-primary .usa-current span, .usa-header-extended .usa-nav-link:hover span {
    border-bottom: 0.4rem solid #ffffff;
    padding-bottom: .2rem;
    color: #fff;
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-link.is-active span, .usa-nav-link.usa-current span, .usa-nav-link:hover span, .usa-nav-primary a.usa-current span, .usa-nav-primary .usa-current span, .usa-header-extended .usa-nav-primary .usa-current span, .usa-header-extended .usa-nav-primary button[aria-expanded=true] span {
    border-bottom: 0.4rem solid #ffffff;
    padding-bottom: .2rem;
    color: #fff;
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-primary a.usa-current:hover span, .usa-nav-primary .usa-current:hover span {
    color: #fff;
  }
}

.usa-nav-primary > li {
  @media screen and (max-width: 559px) {
    border-top: 1px solid #fff;
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-secondary-links {
    float: left;
    li {
      display: inline;
      padding-left: 1.8rem;
      a {
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 951px) {
  .usa-nav-secondary-links li:not(:last-child)::after {
    content: none;
  }
}

@media screen and (max-width: 951px) {
  .usa-nav-secondary-links {
    li {
      a {
        color: #fff;
      }
      .usa-current {
        border-left: 0;
        padding-left: 0;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 951px) {
  .usa-nav-primary > li {
    border-top: 1px solid #fff;
    a {
      padding-left: 3rem;
    }
    li:first-of-type a {
      padding-left: 3rem;
    }
  }
}
.usa-nav-primary {
  & button[aria-expanded='false']:hover {
    background-image: none;
  }

  & button[aria-expanded='false']:before {
    border-left: none !important;
  }
  .usa-accordion-button.usa-nav-link {
    &[aria-controls|='megamenu'] {

      &:hover {
        font-weight: 700;
      }

      &[aria-expanded='true']{
        font-weight: 700;
        background: initial;

        span {
          background: url(../img/arrow-up-white.svg) no-repeat;
          background-position: right;
          background-size: 1rem;
          font-size: 1.8rem;
          padding-right: 2.1rem;
        }
      }
      span {
        background: url(../img/arrow-down-white.svg) no-repeat;
        background-position: right;
        background-size: 1rem;
        font-size: 1.8rem;
        padding-right: 2.1rem;
      }
    }
  }
  .usa-nav-submenu {
    padding-bottom: 0;
    width: 28rem;
    .has-child-arrow {
      width: .9rem;
      right: 2.5rem;
      position: absolute;
    }

    & > li:first-child {
      padding: 0rem 2.9rem;
      a {
        padding: 1.5rem 0;
        color: #006546;
        font-weight: bold;
        border-bottom: 1px solid rgba(33, 33, 33, 0.5);
        text-transform: uppercase;
      }

      & + li > a {
        padding-left: 3rem;
      }
    }

    li {
      .submenu-item-active {
        background-color: rgba(73,165,100,0.2);
        text-decoration: underline;
      }
      a {
        color: #212121;
        font-family: "Source Sans Pro";
        font-size: 16px;
        line-height: 18px;
        padding: 1.3rem 3rem 1.7rem;
        border-left: none;
        padding-left: 3rem;
        font-weight: normal;
        display: flex;
        align-items: center;

      }
      &:hover {
        background-color: rgba(73,165,100,0.2);
        text-decoration: underline;
      }

      ul {
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
        background: #fff;
        margin: 0;
        position: absolute;
        margin-top: -4.7rem;
        left: 28rem;
        list-style-type: none;
        min-width: 24rem;
        padding: 0rem 0rem;
        z-index: -1;

        & > li:first-child {
          a {
            padding-left: 3rem;
          }
        }

        li {
          a {
            color: #212121;
            font-family: "Source Sans Pro";
            font-size: 16px;
            line-height: 18px;
            border-left: none;

            &:hover {
              background-color: rgba(73,165,100,0.2);
              text-decoration: underline;
            }
          }
        }

      }
    }

  }
}


@media screen and (max-width: 951px) {
  .usa-nav .usa-nav-primary li:first-of-type a {
    padding-left: 3rem;
  }
}

.tagline {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2.2rem;
  white-space: nowrap;
}

.usa-banner-inner {
  & > p {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  }
}

.usa-search [type=submit],
.usa-search .usa-search-submit {
  background-color: #F7F7F7;
  border-left-color: rgb(128, 128, 128);
  border-left-style: solid;
  border-left-width: 1px;
  background-image: url('../img/search.svg');
}

.usa-search [type="submit"]:hover, .usa-search .usa-search-submit:hover {
    background-color: #94bfa2;
  }

.usa-search [type="search"],
.usa-search .usa-search-input {
  border-color: #ffffff;
}

.usa-banner:nth-of-type(1) {
  background-color: #f7f7f7;
}
