%sidemenu-active-link {
  background: $softgreen !important;
  // border-left: 0.4rem $heritage solid !important;
  overflow: hidden;
  color: $asphalt;
  text-shadow: none;
  -webkit-text-stroke: unset;
}
.tbm-submenu {
  display: block;
  visibility: hidden;
  border: none;
}
.tbm-item.level-1.open {
  > .tbm-submenu.tbm-item-child.nav-submenu {
    visibility: visible !important;
  }
}
.tbm-item.level-2.open {
  pointer-events: none;
}
.tbm-item.level-2 .tbm-submenu.tbm-item-child.nav-submenu {
  border-left: 1px solid #ccc;
  left: 25.4rem;
}
.tbm-item.level-2.tbm-item--has-flyout {
  &.open {
    .tbm-submenu {
      visibility: visible !important;
    }
  }
}
ul.sidemenu {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  margin-top: 1rem;
  > li {
    font-size: 1.6rem;
    width: 95.5%;
    margin-left: 1.8rem;

    .tbm-link-container {
      padding-left: 0.12rem;
      border-left: 0.4rem transparent solid;
      .tbm-link.level-2 {
        display: flex;
        align-items: center;
        font-weight: 700;
        text-transform: initial;
        width: 100%;
        padding: 0.5rem !important;
        .nav-arrow {
          position: relative;
          float: right;
          border-width: 0 2px 2px 0;
          border-style: solid;
          padding: 3.5px;
          height: 4px;
          width: 4px;
          margin-left: auto;
          border-color: $asphalt;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }
      }
      &:focus {
        color: $asphalt !important;
        border: none !important;
      }
      &:hover {
        @extend %sidemenu-active-link;
        border-left: 0.4rem $heritage solid;
        padding-left: 0 !important;
        .tbm-toggle {
          color: $asphalt !important;
          padding-left: 0.7rem !important;
        }
      }
    }
    &.tbm-item.level-2.tbm-item--has-flyout.open {
      .tbm-link-container {
        @extend %sidemenu-active-link;
        border-left: 0.4rem $heritage solid;
        &:focus {
          color: $asphalt !important;
          border: none !important;
        }
      }
    }
    .tbm-toggle {
      display: flex;
      text-decoration: none;
      color: $asphalt;
      padding: 1rem 2rem 1rem 1rem !important;
      border-left: 0.4rem transparent solid;
      .arrow {
        margin-top: 1rem;
        margin-left: auto;
      }
      &:focus {
        color: $asphalt !important;
        border: none !important;
      }
      // &.active,
      // &.active:hover,
      // &.sidemenu-hover,
      // &.sidemenu-hover:hover {
      //   @extend %sidemenu-active-link;
      //   border-left: 0.4rem $heritage solid;
      // }
    }

    > a:hover,
    > a:visited:hover,
    .sidemenu-hover-plain {
      @extend %sidemenu-active-link;
      border-left: 0.4rem $softgreen solid;
    }
  }
}
