@import "../tb-megamenu/base_styles";
@import "../tb-megamenu/default_styles";
@import "megamenu";
@import "megamenu-no-sidemenu";
@import "megamenu-mobile";
@import "links-container";
@import "sidemenu";
@import "featured-section";

$nav-link-top-spacing: 0.25rem;

@mixin nav-arrow-shared-styles {
  position: relative;
  border-width: 0 2px 2px 0;
  border-style: solid;
  display: inline-block;
  padding: 3.5px;
  margin-left: 1rem;
}

@mixin nav-mega-menu-link {
  display: block;
  color: $heritage;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 2rem;
}
