// // Checkboxes
// [type=checkbox] {
//   opacity: 0;
//   position: absolute;
//   left: -999em;
// }
//
// [type=checkbox] +label::before {
//   background: $white;
//   border: 2px solid $grey4;
//   border-radius: .2rem;
//   box-shadow: none;
//   content: '\a0';
//   display: inline-block;
//   height: 2.4rem;
//   line-height: 1.8rem;
//   margin-right: .6em;
//   text-indent: .15em;
//   width: 2.4rem;
// }
//
// [type=checkbox]:checked+label::before {
//   background: $heritage;
//   background-image: url(../../img/correct8.svg);
//   border: 2px solid $heritage;
//   background-position: 50%;
//   background-repeat: no-repeat;
//   box-shadow: none;
// }
//
// [type=checkbox]:disabled+label::before {
//   background: $grey1;
//   border: 2px solid $grey3;
//   box-shadow: none;
//   cursor: not-allowed;
// }
//
// [type=checkbox]:disabled+label {
//   color: $grey3;
//   box-shadow: none;
// }
//
// // Card Checkboxes
// .checkbox-card {
//   min-height: 150px;
//   border: 2px solid $grey3;
//   label {
//     display: block;
//     font-weight: bold;
//     min-height: inherit;
//     padding: 10.5rem 2rem 2rem;
//     margin: 0;
//     margin-right: 0;
//     cursor: pointer;
//     &:before {
//       border: 2px solid $sweetgrass;
//       float: right;
//       margin-right: 0;
//       width: 32px;
//       height: 32px;
//       margin-top: -5px;
//     }
//   }
//   [type=checkbox]:checked+label::before {
//     background: $sweetgrass;
//     background-image: url(../../img/correct8.svg);
//     background-size: 30px;
//     border: 2px solid $sweetgrass;
//   }
//   &.checked {
//     border: 2px solid $sweetgrass;
//   }
//   &:hover {
//     border: 2px solid $sweetgrass;
//   }
// }



label.checkbox-label {
  display: flex;
  line-height: 2.8rem;
  font-size: 1.8rem;

  &:before {
    content: '\a0';
    width: 2.4rem;
    height: 2.4rem;
    border: .2rem solid $grey4;
    border-radius: .2rem;
    display: flex;
    margin-right: .8rem;

    input.checkbox-input:checked + &{
      background-color: $heritage;
      border: .2rem solid $heritage;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../img/correct8.svg");
    }
  }

}

input.checkbox-input {
  display: none;
}

label.checkbox-card-label {
  min-height: 15rem;
  padding: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: $white;
  border: .2rem solid $grey3;
  box-shadow: 0 .1rem .4rem 0 $grey3;
  border-radius: .2rem;

  &:hover {
    border: .2rem solid $sweetgrass;
    cursor: pointer;
  }
  .cb-icon {
    width: 3.2rem;
    height: 3.2rem;
    border: .2rem solid $sweetgrass;
    border-radius: .2rem;
    display: flex;
  }
  &.checked {
    border: .2rem solid $sweetgrass;
  }
  &.disabled {
    cursor: auto;
    border: .2rem solid $grey3;
    .cb-icon {
      background: $grey1;
      border: .2rem solid $grey3;
    }
  }

  &.with-image {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img {
      max-width: 14.7rem;
    }
    .cb-img-card-top {
      width: 100%;
      min-height: 11.4rem;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cb-img-card-bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

input.checkbox-card-input {
  display: none;

  &:checked + .cb-icon {
    background-color: $sweetgrass;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../img/correct8.svg");
  }
}
