.page-node-type-program-page {
  nav.tabs {
    margin: 0 auto;
    max-width: 1140px;
  }
  .usa-hero {
    min-height: 205px;
    margin-bottom: 4rem;
  }
}

.farmers-landing-page {
  .primary-region{
    .primary-region__header {
      .program-page-lead-p {
        color: #212121;
        font-family: Merriweather;
        font-size: 20px;
        font-weight: 300;
        line-height: 34px;
      }

      .program-page-primary-p {
          color: #212121;
          font-family: Merriweather;
          font-size: 18px;
          line-height: 30px;
      }

      .program-page-ul {
        li {
          line-height: 30px;
          // list-style-type: none;
        }
        // li:before {
        //   content: '•';
        //   margin-right: 1em;
        // }
      }
    }
  }
}
