.arrow {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  padding: 0.25rem;
  margin-top: 0.5rem;
  border: solid $asphalt;
  border-width: 0 2px 2px 0;
}
.arrow-bigsky {
  border: solid $bigsky;
  border-width: 0 2px 2px 0;
}
.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow-left {
  transform: rotate(-224deg);
  -webkit-transform: rotate(-224deg);
}
