.back-to-top {
    position: fixed;
    height: 64px;
    width: 64px;
    color: $bigsky;
    text-align: center;
    background-color: #fff;
    border: 3px solid $bigsky;
    box-shadow: 0 1px 4px 0 $grey3;
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    z-index: 100;
    cursor: pointer;
    padding-top: 0.3rem;
    font-weight: 700;
    .up {
      position: relative;
      // left: -0.1rem;
      -webkit-transform: rotate(-135deg);
    }
    i,
    span {
      position: relative;
      top: 7px;
      margin-bottom: 0.2rem;
      border: solid $bigsky;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 5px;
  
      /* Safari Only */
      @media not all and (min-resolution: 0.001dpcm) {
        left: 2px;
      }
    }
    a,
    a:visited,
    a:hover,
    a:hover:visited {
      color: $bigsky;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: none;
      -webkit-text-stroke: unset;
    }
  }