// COLORS

// COLORS // Primary Colors

// Heritage Green
$heritage: #006546;
$dkgreen: $heritage;
.heritage {
  background-color: $heritage;
}
.heritage-txt {
  color: $heritage;
}

// Sweet Grass
$sweetgrass: #49a564;
$ltgreen: $sweetgrass;
.sweet-grass {
  background-color: $sweetgrass;
}
.sweet-grass-txt {
  color: $sweetgrass;
}

// Big Sky
$bigsky: #1a6ad3;
$blue: $bigsky;
.big-sky {
  background-color: $bigsky;
}
.big-sky-txt {
  color: $bigsky;
}

// Asphalt
$black: #212121;
$asphalt: $black;
.asphalt {
  background-color: $black;
}
.asphalt-txt {
  color: $black;
}

$white: #ffffff;
.white {
  background-color: $white;
}
.white-txt {
  color: $white;
}
// COLORS // Secondary Colors

// USDA Blue
$dkblue: #004785;
$usda-blue: $dkblue;
.usda-blue {
  background-color: $dkblue;
}
.usda-blue-txt {
  color: $dkblue;
}

// Dandelion
$yellow: #f7be00;
$dandelion: $yellow;
.dandelion {
  background-color: $yellow;
}
.dandelion-txt {
  color: $yellow;
}

// Maple #AE2924
$red: #ae2924;
$maple: $red;
.maple {
  background-color: $red;
}
.maple-txt {
  color: $red;
}

// COLORS // Low Saturation Colors

// Soft Green
$softgreen: #dbede0;
.soft-green {
  background-color: $softgreen;
}

// Soft Yellow
$softyellow: #f8edc7;
.soft-yellow {
  background-color: $softyellow;
}

// Soft Red
$softred: #eedad9;
.soft-red {
  background-color: $softred;
}

// COLORS // Gray Scale

// Grey 1
$grey1: #f7f7f7;
$gray1: $grey1;
.grey-1,
.gray-1 {
  background-color: $grey1;
}

// Grey 2
$grey2: #ededed;
$gray2: $grey2;
.grey-2,
.gray-2 {
  background-color: $grey2;
}

// Grey 3
$grey3: #bbbbbb;
$gray3: $grey3;
.grey-3,
.gray-3 {
  background-color: $grey3;
}

// Grey 4
$grey4: #707070;
$gray4: $grey4;
.grey-4,
.gray-4 {
  background-color: $grey4;
}

// Grey 5
$grey5: #494440;
$gray5: $grey5;
.grey-5,
.gray-5 {
  background-color: $grey5;
}

// COLORS // Special States

// Visited
$visited: #4c2c92;
.visited-color {
  background-color: $visited !important;
}

// Focus
$focus: #122e51;
.focus-color {
  background-color: $focus !important;
}

// Hover
$hover: #004785;
.hover-color {
  background-color: $hover !important;
}

// Active
$active: #122e51;
.active-color {
  background-color: $active !important;
}

// Disabled
$disabled: #bbbbbb;
.disabled {
  background-color: $disabled;
}
// END COLORS
