@use '../../../farmers-gov-design-system/scss/grid/variables' as DSGridVars;

.show-on-mobile-l {
  display: none;
  @media screen and (max-width: DSGridVars.$screen--L) {
    display: block !important;
  }
}

.show-on-mobile-m {
  display: none;
  @media screen and (max-width: DSGridVars.$screen--M) {
    display: block !important;
  }
}

.show-on-mobile-s {
  display: none;
  @media screen and (max-width: DSGridVars.$screen--S) {
    display: block !important;
  }
}

.hide-on-mobile-l {
  @media screen and (max-width: DSGridVars.$screen--L) {
    display: none !important;
  }
}

.hide-on-mobile-m {
  @media screen and (max-width: DSGridVars.$screen--M) {
    display: none !important;
  }
}

.hide-on-mobile-s {
  @media screen and (max-width: DSGridVars.$screen--S) {
    display: none !important;
  }
}
