

@at-root {
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Regular.eot'),
         font('public-sans/PublicSans-Regular.eot?#iefix') format('embedded-opentype'),
         font('public-sans/PublicSans-Regular.woff2') format('woff2'),
         font('public-sans/PublicSans-Regular.woff') format('woff'),
         font('public-sans/PublicSans-Regular.woff2') format('woff2'),
         font('public-sans/PublicSans-Regular.otf') format('opentype'),
         font('public-sans/PublicSans-Regular.ttf') format('truetype'),
         font('public-sans/PublicSans-Regular.svg#public_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Black.ttf'),
         font('public-sans/PublicSans-Black.ttf')  format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-ExtraBold.woff'),
         font('public-sans/PublicSans-ExtraBold.ttf')  format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Bold.woff'),
         font('public-sans/PublicSans-Bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-SemiBold.woff'),
         font('public-sans/PublicSans-SemiBold.ttf')  format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Medium.woff'),
         font('public-sans/PublicSans-Medium.ttf')  format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Regular.woff'),
         font('public-sans/PublicSans-Regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Light.woff'),
    font('public-sans/PublicSans-Light.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-ExtraLight.woff'),
    font('public-sans/PublicSans-ExtraLight.ttf')  format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-Italic.woff'),
    font('public-sans/PublicSans-Italic.ttf')  format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Public Sans';
    src: font('public-sans/PublicSans-BoldItalic.woff'),
    font('public-sans/PublicSans-BoldItalic.ttf')  format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: 'Merriweather';
    src: font('merriweather/Latin-Merriweather-Regular.woff'),
    font('merriweather/Latin-Merriweather-Regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Merriweather';
    src: font('merriweather/Latin-Merriweather-Light.woff'),
    font('merriweather/Latin-Merriweather-Light.ttf')  format('truetype');
    font-weight: 300;
    font-style: normal;
  }
}


$merriweather: 'Merriweather';
.merriweather {
  font-family: $merriweather;
}

$public-sans: 'Public Sans';
.public-sans {
  font-family: $public-sans;
}

html {
  font-family: $public-sans;
  color: $asphalt;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 700;
  margin-bottom: .5rem;
}

h1, .headline-1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
}

h2, .headline-2 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}

h3, .headline-3 {
  font-size: 2.3rem;
  line-height: 3rem;
}

h4, .headline-4 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h5, .headline-5 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h6, .headline-6 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.label {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}

.lead-p {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.body-p, p {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.subheading {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.caption {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.blog-body-p {
  font-family: $merriweather;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

.blog-block-quote {
  font-family: $merriweather;
  color: $asphalt;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.4rem;
}
