// COLORS //

// COLORS // Primary Colors

// Heritage Green
$heritage: #006546;
$dkgreen: $heritage;
.heritage {
  background-color: $heritage;
}

// Sweet Grass
$sweetgrass: #49A564;
$ltgreen: $sweetgrass;
.sweet-grass {
  background-color: $sweetgrass;
}

// Big Sky
$bigsky: #1A6AD3;
$blue: $bigsky;
.big-sky {
  background-color: $bigsky;
}

// Asphalt
$black: #212121;
$asphalt: $black;
.asphalt {
  background-color: $black;
}

// COLORS // Secondary Colors 

// USDA Blue
$dkblue: #004785;
$usda-blue: $dkblue;
.usda-blue {
  background-color: $dkblue;
}

// Dandelion
$yellow: #F7BE00;
$dandelion: $yellow;
.dandelion {
  background-color: $yellow;
}

// Maple #AE2924
$red: #AE2924;
$maple: $red;
.maple {
  background-color: $red;
}

// COLORS // Low Saturation Colors

// Soft Green
$softgreen: #DBEDE0;
.soft-green {
  background-color: $softgreen;
}

// Soft Yellow
$softyellow: #F8EDC7;
.soft-yellow {
  background-color: $softyellow;
}

// Soft Red
$softred: #EEDAD9;
.soft-red {
  background-color: $softred;
}

// COLORS // Gray Scale

// Grey 1
$grey1: #F7F7F7;
$gray1: $grey1;
.grey-1, .gray-1 {
  background-color: $grey1;
}

// Grey 2
$grey2: #EDEDED;
$gray2: $grey2;
.grey-2, .gray-2 {
  background-color: $grey2;
}

// Grey 3
$grey3: #BBBBBB;
$gray3: $grey3;
.grey-3, .gray-3 {
  background-color: $grey3;
}

// Grey 4
$grey4: #707070;
$gray4: $grey4;
.grey-4, .gray-4 {
  background-color: $grey4;
}

// Grey 5
$grey5: #494440;
$gray5: $grey5;
.grey-5, .gray-5 {
  background-color: $grey5;
}

// COLORS // Special States

// Visited
$visited: #4C2C92;
.visited-color {
  background-color: $visited;
}

// Focus
$focus: #1B69D3;
.focus-color {
  background-color: $focus;
}

// Hover
$hover: #004785;
.hover-color {
  background-color: $hover;
}

// Active
$active: #122E51;
.active-color {
  background-color: $active;
}

// END COLORS
