

@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Regular.woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Regular.woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Public Sans';
  src: url('../../fonts/public-sans/PublicSans-BoldItalic.woff');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Latin-Merriweather-Regular.woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Latin-Merriweather-Light.woff');
  font-weight: 300;
  font-style: normal;
}


$merriweather: 'Merriweather';

$public-sans: 'Public Sans';

h1, h2, h3, h4, h5, h6 {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 700;
}

h1, .headline-1 {
  font-size: 3.8rem;
  line-height: 4.8rem;
}

h2, .headline-2 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}

h3, .headline-3 {
  font-size: 2.3rem;
  line-height: 3rem;
}

h4, .headline-4 {
  font-size: 2rem;
  line-height: 2.6rem;
}

h5, .headline-5 {
  font-size: 1.6rem;
  line-height: 2rem;
}

h6, .headline-6 {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.label {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}

.lead-p {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.body-p {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.subheading {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.caption {
  font-family: $public-sans;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.blog-body-p {
  font-family: $merriweather;
  color: $asphalt;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}

.blog-block-quote {
  font-family: $merriweather;
  color: $asphalt;
  font-weight: 300;
  font-size: 2.8rem;
  line-height: 3.4rem;
}
